<% treatment.sections.each do |section| %>
  <% next if section[:questions].blank? %>
  <% section[:questions].each do |question| %>
    <% if question[:answer].present? || (question[:answers].present?) %>
      <% # Only show if question has answer %>

      <% if question[:type] == 'Checkboxes' %>
        <% if question[:answers].any? { |answer| answer[:selected] == '1' } %>
          <div class="block">
            <% if question[:name].present? %>
              <u><%= question[:name] %></u>
            <% end %>
            <% question[:answers].each do |answer| %>
              <% next if answer[:selected] != '1' %>
              <div class="check-box check-box-readonly">
                <input type="checkbox" checked readonly="true">
                <label><%= answer[:content] %></label>
              </div>
            <% end %>
          </div>
        <% end %>

      <% elsif question[:type] == 'Radiobuttons' %>
        <% if question[:answers].any? { |answer| answer[:selected] == '1' } %>
          <div class="block">
            <% if question[:name].present? %>
              <u><%= question[:name] %></u>
            <% end %>
            <% question[:answers].each do |answer| %>
              <% next if answer[:selected] != '1' %>
              <div>
                <input type="radio" checked readonly="true">
                <label><%= answer[:content] %></label>
              </div>
            <% end %>
          </div>
        <% end %>

      <% elsif question[:type] == 'Text' %>
        <% if question[:answer].try(:[], :content).present? %>
          <div class="block">
            <u><%= question[:name] %></u>
            <p><%= question[:answer][:content] %></p>
          </div>
        <% end %>

      <% elsif question[:type] == 'Paragraph' %>
        <% if question[:answer].try(:[], :content).present? %>
          <div class="block">
            <u><%= question[:name] %></u>
            <p><%= simple_format question[:answer][:content] %></p>
          </div>
        <% end %>

      <% elsif question[:type] == 'Integer' %>
        <% if question[:answer].try(:[], :content).present? %>
          <div class="block">
            <u><%= question[:name] %></u>
            <p><%= question[:answer][:content] %></p>
          </div>
        <% end %>

      <% elsif question[:type] == 'Multiselect' %>
        <% if question[:answers].any? { |answer| answer[:selected] == '1' } %>
          <div class="block">
            <% if question[:name].present? %>
              <u><%= question[:name] %></u>
            <% end %>
            <ul style="padding-left: 15px">
            <% question[:answers].each do |answer| %>
              <% next if answer[:selected] != '1' %>
              <li><%= answer[:content] %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

      <% end %>

    <% end %>
  <% end %>
<% end %>
