<% content_for :title, 'All treatment notes' %>

<section class="box-header">
  <h1>All treatment notes</h1>
</section>

<section class="breadcrumb">
  <ul>
    <li>
      <a href="<%= reports_path %>">
        <i class="fa fa-bar-chart"></i>
        Reports</a>
    </li>
    <li>
      <a href="<%= reports_path %>">Treatment notes</a>
    </li>
    <li class="active">All treatment notes</li>
  </ul>
</section>

<section class="print-head">
  <h3 class="text-center">All treatment notes</h3>
</section>

<section class="content">

  <div class="panel panel-default">
    <div class="panel-body">
      <form method="GET" action="<%= reports_list_all_treatment_notes_path %>">
        <div class="row">
          <div class="col-md-2">
            <div class="form-group">
              <label>Create date:</label>
              <div class="input-group">

                <input name="start_date"
                  class="form-control flatpickr-datepicker"
                  value="<%= @options.start_date.strftime('%Y-%m-%d') %>"
                  data-alt-format="d M Y"
                  data-date-format="Y-m-d"
                  >
                <span class="input-group-addon input-group-addon-middle">to</span>
                <input name="end_date"
                  class="form-control flatpickr-datepicker"
                  value="<%= @options.end_date.strftime('%Y-%m-%d') %>"
                  data-alt-format="d M Y"
                  data-date-format="Y-m-d"
                  >

                <div class="input-group-btn">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <% today = Date.current %>
                    <li><a href="#" js-btn-date-range data-start-date="<%= today.beginning_of_week %>" data-end-date="<%= today.end_of_week %>">This week</a></li>
                    <li><a href="#" js-btn-date-range data-start-date="<%= today.beginning_of_month %>" data-end-date="<%= today.end_of_month %>">This month</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#" js-btn-date-range data-start-date="<%= today.last_week.beginning_of_week %>" data-end-date="<%= today.last_week.end_of_week %>">Last week</a></li>
                    <li><a href="#" js-btn-date-range data-start-date="<%= today.last_month.beginning_of_month %>" data-end-date="<%= today.last_month.end_of_month %>">Last month</a></li>
                    <li><a href="#" js-btn-date-range data-start-date="<%= today - 30 %>" data-end-date="<%= today %>">Last 30 days</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label>Practitioners:</label>
              <select class="form-control selectize" name="practitioner_ids[]" multiple="true">
                <option value="">All</option>
                <%= options_for_select( pracititioner_options_for_select(current_business), @options.practitioner_ids ) %>
              </select>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <%
                templates_options = current_business.treatment_templates.select(:id, :name).order(name: :asc).pluck(:name, :id)
              %>
              <label>Templates:</label>
              <select class="form-control selectize" name="template_ids[]" multiple="true">
                <option value="">All</option>
                <%= options_for_select(templates_options, @options.template_ids ) %>
              </select>
            </div>
          </div>

          <div class="col-md-2">
            <div class="form-group">
              <label>Status:</label>
              <select class="form-control" name="status">
                <option value="">All</option>
                <option value="<%= Treatment::STATUS_FINAL %>" <% if @options.status == Treatment::STATUS_FINAL %> selected <% end %> >Final</option>
                <option value="<%= Treatment::STATUS_DRAFT %>" <% if @options.status == Treatment::STATUS_DRAFT %> selected <% end %> >Draft</option>
              </select>
            </div>
          </div>

          <div class="col-md-1">
            <label>&nbsp;</label><br>
            <button type="submit" class="btn btn-primary">Report</button>
          </div>

        </div>
      </form>
    </div>
  </div>

  <div class="text-right hidden-print mb-20">
    <a href="<%= reports_list_all_treatment_notes_path(@report.options.to_params.merge(format: :csv)) %>"
    class="btn btn-white" target="_blank">
      <i class="fa fa-download"></i> CSV
    </a>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Client</th>
            <th>Created</th>
          </tr>
        </thead>
        <tbody>
          <% @report.results[:paginated_treatment_notes].each do |treatment| %>
            <tr>
              <td>
                  <%= treatment.name %></p>
              </td>
              <td>
                <span class="label <%= {Treatment::STATUS_DRAFT => 'label-default', Treatment::STATUS_FINAL => 'label-primary'}[treatment.status] %>"><%= treatment.status %></span>
              </td>
              <td>
                <a href="<%= patient_path(treatment.patient) %>"><%= treatment.patient.full_name %></a>
              </td>
              <td>
                  <%= treatment.created_at.strftime(t('date.common')) %>
              </td>
              <td>
                <a href="<%= patient_treatment_path(treatment.patient_id, treatment) %>" class="btn btn-white">Details</a>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div class="row mt-15 hidden-print">
        <div class="col-md-6 text-left">
          <%= page_entries_info @report.results[:paginated_treatment_notes], entry_name: 'items' %>
        </div>
        <div class="col-md-6 text-right">
          <%= paginate @report.results[:paginated_treatment_notes], theme: 'app' %>
        </div>
      </div>
    </div>
  </div>
</section>

<% content_for :page_js do %>
<script>
  $('[js-btn-date-range]').on('click', function(e) {
    e.preventDefault();
    const $btn = $(this);
    $btn.closest('.input-group').find('[name="start_date"]').get(0)._flatpickr.setDate($btn.data('start-date'));
    $btn.closest('.input-group').find('[name="end_date"]').get(0)._flatpickr.setDate($btn.data('end-date'));
  });
</script>
<% end %>
