<%=
  simple_form_for marketplace,
                  url: marketplace.new_record? ? admin_marketplaces_path : admin_marketplace_path(marketplace) do |f| %>
  <%=
    f.input :name, input_html: { autofocus: true }
  %>
  <%=
    f.input :business_ids,
            label: 'Businesses',
            as: :select,
            collection: Business.select(:id, :name),
            input_html: { class: 'selectize', multiple: true },
            include_hidden: false
  %>
  <%= f.submit class: 'btn sitebtn' %>
  <a
    href="<%= marketplace.new_record? ? admin_marketplaces_path : admin_marketplace_path(marketplace) %>"
    class="btn linebtn"
    >Cancel</a>
<% end %>
