<% content_for :title, 'Edit treatment note template' %>

<section class="box-header">
  <div class="row">
    <div class="col-xs-6">
      <h1>Edit treatment note template</h1>
    </div>

    <div class="text-right col-xs-6">
        <a class="btn btn-primary" href="<%= new_treatment_note_template_path %>">+ Add template</a>
    </div>
  </div>
</section>

<section class="breadcrumb">
  <ul>
    <li>
      <a href="<%= settings_path %>"><i class="fa fa-cog"></i> Settings</a>
    </li>
    <li>
      <a href="<%= treatment_note_templates_path %>">Treatment note templates</a>
    </li>
    <li>
      <a href="<%= treatment_note_template_path(@treatment_note_template) %>"><%= @treatment_note_template.name %></a>
    </li>
    <li class="active">Edit</li>
  </ul>
</section>

<section class="content">
  <div
    id="treatment-note-template-form"
    data-template-id="<%= @treatment_note_template.id %>"
    data-treatment-note-templates-path="<%= treatment_note_templates_path %>"
  ></div>
</section>
