<% content_for :title, 'Treatment note templates' %>

<section class="box-header">
  <div class="row">
    <div class="col-xs-6">
      <h1>Treatment note templates</h1>
    </div>
    <div class="text-right col-xs-6">
      <a class="btn btn-primary" href="<%= new_treatment_note_template_path %>">+ Add template</a>
    </div>
  </div>
</section>

<section class="breadcrumb">
  <ul>
    <li>
      <a href="<%= settings_path %>"><i class="fa fa-cog"></i> Settings</a>
    </li>
    <li class="active">Treatment note templates</li>
  </ul>
</section>

<section class="content">
  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th width="21%">Name</th>
            <th>Last updated</th>
            <th width="25%"></th>
          </tr>
        </thead>

        <tbody>
          <% @treatment_note_templates.each do |tt| %>
            <tr>
              <td width="21%">
                <a href="<%= treatment_note_template_path(tt) %>"><%= tt.name %></a>
              </td>
              <td><%= tt.updated_at.strftime(t('date.common')) %></td>
              <td width="25%">
                <a href="<%= treatment_note_template_path(tt) %>" class="btn btn-link" title="Show">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
                <a href="<%= edit_treatment_note_template_path(tt) %>" class="btn btn-link" title="Edit">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
                <a href="<%= treatment_note_template_path(tt) %>" title="Delete" rel="nofollow"
                  data-confirm="Are you sure?" data-method="delete" class="btn btn-link">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="row">
        <div class="col-md-6 text-left">
            <%= page_entries_info @treatment_note_templates, entry_name: 'templates' %>
        </div>
        <div class="col-md-6 text-right">
          <%= paginate @treatment_note_templates %>
        </div>
      </div>
    </div>
  </div>
</section>
