<% content_for :title, 'Treatment note template' %>

<section class="box-header">
  <div class="row">
    <div class="col-xs-6">
      <h1><%= @treatment_note_template.name %></h1>
    </div>
  </div>
</section>

<section class="breadcrumb">
  <ul>
    <li>
      <a href="<%= settings_path %>"><i class="fa fa-cog"></i> Settings</a>
    </li>
    <li>
      <a href="<%= treatment_note_templates_path %>">Treatment note templates</a>
    </li>
    <li class="active"><%= @treatment_note_template.name %></li>
  </ul>
</section>

<section class="content">
  <div class="panel panel-default">
    <div class="panel-body">
        <% if @treatment_note_template.html_content.present? %>
          <div class="tiptap-content">
            <%= @treatment_note_template.html_content.html_safe %>
          </div>
        <% else %>
            <span class="text-muted">Empty</span>
        <% end %>
    </div>
    <div class="panel-footer">
        <a href="<%= edit_treatment_note_template_path(@treatment_note_template) %>" class="btn btn-primary">Edit template</a>
        <a href="<%= treatment_note_templates_path %>" class="btn btn-white">Back to list</a>
    </div>
  </div>
</section>
