<%=
  simple_form_for(
    treatment,
    url: (treatment.new_record? ? patient_treatments_path(@patient) : patient_treatment_path(@patient, treatment)),
    html: { class: 'form-treatment-note' }) do |f| %>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <%=
            f.input :treatment_template_id,
                    as: :select,
                    label: 'Template',
                    collection: @available_treatment_templates,
                    include_blank: false,
                    input_html: { class: 'selectize', id: 'input-treatment-template-id' }
          %>
        </div>
        <div class="col-md-6">
          <%=
            f.association :patient_case,
                          as: :select,
                          label: 'Case',
                          collection: patient_case_options_for_treatment(@patient.patient_cases),
                          include_blank: false, input_html: { id: 'select-case-id' }
          %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <%=
            f.input :appointment_id,
                    as: :select,
                    collection: appointment_options_for_treatment(@patient.appointments.order(start_time: :desc).includes(:practitioner)),
                    input_html: { class: 'selectize', id: 'input-appointment-id', data: { 'max-options' => 5 } }
          %>
        </div>
      </div>
    </div>
  </div>

  <div class="text-right mb-10">
    <button class="btn btn-white btn-copy-treatment-note" style="display: none;" type="button">
      <i class="fa fa-copy"></i> Copy last treatment note
    </button>
  </div>

  <div class="panel panel-default">
    <div class="panel-body" id="treatment-note-content-wrap">
      <%= render 'treatment_templates/sections_form', sections: treatment.sections %>
    </div>
  </div>

  <div class="row mb-50">
    <div class="col-md-12">
      <button name="treatment[status]" type="submit" class="btn btn-warning" value="<%= Treatment::STATUS_DRAFT %>">Save as Draft</button>
      <button name="treatment[status]" type="submit" class="btn btn-primary" value="<%= Treatment::STATUS_FINAL %>">Save as Final</button>
    </div>
  </div>
<% end %>

<%= content_for :page_js do %>
  <%= render 'treatments/form_js' %>
<% end %>
