<%= render 'patients/show_layout' do %>

  <div class="row">
    <div class="col-md-8 col-xs-6">
      <h4>Treatment notes</h4>
    </div>

    <div class="col-md-4 col-xs-6 text-right">
      <a href="<%= new_patient_treatment_path(@patient) %>" class="btn btn-primary">
        <i class="fa fa-plus"></i> Add <span class="hidden-xs">note</span>
      </a>
    </div>
  </div>

  <div class="row mt-10">
    <div class="col-lg-8 col-md-7 col-xs-12">

      <form action="<%= patient_treatments_path(@patient) %>">
        <div class="row">
          <div class="col-xs-7 col-md-8">
            <input class="form-control" placeholder="Search" type="text" name="q" value="<%= params[:q] %>">
          </div>

          <% if @treatments.total_count > 0 %>
            <div class="col-xs-5 col-md-4">
              <select name="order" id="js-input-treatment-notes-order" class="form-control pull-right" style="width: 170px">
                <option value="" disabled>--- Select order ---</option>
                <option value="created_date" <% if !params.key?(:order) || (params[:order] == 'created_date') %> selected <% end %> >Created date</option>
                <option value="appointment_date" <% if params[:order] == 'appointment_date' %> selected <% end %> >Appointment date</option>
                <option value="author" <% if params[:order] == 'author' %> selected <% end %> >Author</option>
              </select>
            </div>
          <% end %>
        </div>

      </form>

    </div>
  </div>

  <div class="row list-treatments mt-10">
    <div class="col-lg-8 col-md-7">

      <% @treatments.each do |treatment| %>
        <div class="panel panel-default js-panel-treatment-note">
          <div class="panel-body">
            <div class="pull-right">
              <div class="btn-group">
                <a href="<%= patient_treatment_path(@patient, treatment) %>" class="btn btn-white">
                  Details
                </a>

                <a href="#" data-modal-content-url="<%= modal_send_email_patient_treatment_path(@patient, treatment) %>" class="btn btn-white js-btn-send-email">
                  <i class="fa fa-envelope-o"></i>
                  Email
                </a>

                <a href="<%= print_patient_treatment_path(@patient, treatment, format: :pdf) %>" target="_blank" class="btn btn-white">
                  <i class="fa fa-print"></i> Print
                </a>

                <% unless treatment.status == Treatment::STATUS_FINAL %>
                  <a href="<%= edit_patient_treatment_path(@patient, treatment) %>" class="btn btn-white">
                    <i class="fa fa-pencil-square-o"></i> Edit
                  </a>
                <% end %>

              </div>
            </div>

            <h4 class="mt-0">
              <a href="<%= patient_treatment_path(@patient, treatment) %>">
                <%= treatment.name %>
              </a>
               <span class="label <%= {Treatment::STATUS_DRAFT => 'label-default', Treatment::STATUS_FINAL => 'label-primary'}[treatment.status] %>"><%= treatment.status %></span>
              </h4>

            <div class="text-smaller">
              Author: <% if treatment.author %> <%= treatment.author.full_name %> <% else %> <% if treatment.author_name %> <%= treatment.author_name %> <% else %> <span class="text-muted">--</span> <% end %> <% end %> <br>
              Appointment:
              <%  if treatment.appointment %>
                <%= treatment.appointment.start_time.strftime(t('date.common')) %> <span class="hidden-print"><span class="text-muted"> | </span> <a href="<%= appointment_path(treatment.appointment) %>">View</a></span>
              <% else %>
                <span class="text-muted">--</span>
              <% end %>
              <br>
              Created: <%= treatment.created_at.strftime(t('date.common')) %>
            </div>
          </div>
        </div>
      <% end %>

      <div class="panel panel-default">
        <div class="panel-body">
          <% if @treatments.blank? %>
            <% if params[:q].present? && @treatments.blank? %>
              <p class="text-muted mb-0">Not notes match your query. <a href="<%= patient_treatments_path(@patient) %>">Clear filters</a></p>
            <% else %>
              <p class="text-muted">No notes created.</p>
            <% end %>
          <% else %>

            <div class="row">
              <div class="col-md-6">
                <%= page_entries_info @treatments, entry_name: 'notes' %>
              </div>
              <div class="col-md-6">
                <%= paginate @treatments, theme: 'app' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>

    </div>

    <div class="col-lg-4 col-md-5">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Open cases</strong></div>
        <div class="panel-body">
          <% if @open_cases.count > 0 %>
            <% @open_cases.each do |kase| %>
            <table class="table table-bordered">
              <tbody>
                  <tr>
                    <td>Type:</td>
                    <td><%= kase.case_type.try(:title) %></td>
                  </tr>
                  <tr>
                    <td>Last updated:</td>
                    <td><%= kase.updated_at.strftime(t('date.common')) %></td>
                  </tr>
                  <tr>
                    <td>Invoices:</td>
                    <td>
                        <%= kase.invoices.count %>
                        <% if kase.invoice_number? %>
                          <span> / <%= kase.invoice_number %>
                          </span>
                        <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td>Budget:</td>
                    <td>
                        <%= format_money kase.invoices.sum(&:amount), current_business.currency %>
                        <% if kase.invoice_total? %>
                          <span> / <%= format_money kase.invoice_total, current_business.currency %>
                          </span>
                        <% end %>
                    </td>
                  </tr>
              </tbody>
            </table>
            <% end %>
          <% else %>
            <p class="text-muted">No open cases</p>
          <% end %>
        </div>
      </div>

      <div class="panel panel-default mt-20">
        <div class="panel-heading"><strong>Upcoming appointments</strong></div>
        <div class="panel-body">
          <% if @upcoming_appointments.count > 0 %>
            <% @upcoming_appointments.each do |appt| %>
              <table class="table table-bordered">
                <tbody>
                    <tr>
                      <td>Time:</td>
                      <td><%= appt.start_time.strftime(t('datetime.common')) %></td>
                    </tr>
                    <tr>
                      <td>Practitioner:</td>
                      <td><%= appt.practitioner.full_name %></td>
                    </tr>
                    <tr>
                      <td>Type:</td>
                      <td><%= appt.appointment_type&.name %> </td>
                    </tr>
                </tbody>
              </table>
              <hr>
            <% end %>
          <% else %>
            <p class="text-muted">No upcoming appointments</p>
          <% end %>
        </div>

      </div>
    </div>
  </div>
<% end %>

<% content_for :page_js do %>
  <%= render 'common/modal_send_email_js' %>
  <script>
    $('#js-input-treatment-notes-order').on('change', function() {
      $(this).closest('form').trigger('submit');
    })
  </script>
<% end %>
