<%= render 'patients/show_layout' do %>
  <h4>New treatment note</h4>
  <div class="row">
    <div class="col-md-6">
      <%= simple_form_for @treatment, url: patient_treatments_path(@patient) do |f| %>
        <div class="panel panel-default">
          <div class="panel-body">

            <%=
              f.input :treatment_note_template_id,
                      as: :select,
                      label: 'Template',
                      collection: current_business.treatment_note_templates.order(name: :asc).to_a,
                      include_blank: '-- Select template --',
                      input_html: { class: 'selectize' }
            %>

            <%=
              f.association :patient_case,
                            as: :select,
                            label: 'Case',
                            collection: patient_case_options_for_treatment(@patient.patient_cases),
                            include_blank: false
            %>

            <%=
              f.input :appointment_id,
                      as: :select,
                      collection: appointment_options_for_treatment(@patient.appointments.order(start_time: :desc).includes(:practitioner)),
                      input_html: { class: 'selectize' }
            %>
          </div>

        </div>

        <div class="mb-20">
          <button type="submit" class="btn btn-primary">Create</button>
          <a href="<%= patient_treatments_path %>" class="btn btn-white">Cancel</a>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
