<%= render 'patients/show_layout' do %>
  <div class="row">
    <div class="col-md-8 col-xs-8">
      <h4>Treatment note details</h4>
    </div>

    <div class="col-md-4 col-xs-4 text-right">
      <a href="<%= patient_treatments_path(@patient) %>" class="btn btn-white">View all notes</a>
    </div>
  </div>

  <div class="panel panel-default mt-10">
    <div class="panel-heading">

      <div class="pull-right">
          <div class="btn-group">
            <a href="#" data-modal-content-url="<%= modal_send_email_patient_treatment_path(@patient, @treatment) %>" class="btn btn-white js-btn-send-email">
              <i class="fa fa-envelope-o"></i>
              Email
            </a>

            <a href="<%= print_patient_treatment_path(@patient, @treatment, format: :pdf) %>" target="_blank" class="btn btn-white">
              <i class="fa fa-print"></i> Print
            </a>

            <% unless @treatment.status == Treatment::STATUS_FINAL %>
              <a href="<%= edit_patient_treatment_path(@patient, @treatment) %>" class="btn btn-white">
                <i class="fa fa-pencil-square-o"></i> Edit
              </a>
              <% if can?(:destroy, @treatment) %>
                <a href="<%= patient_treatment_path(@patient, @treatment, redirect: patient_treatments_path(@patient)) %>"
                  class="btn btn-white"
                  data-confirm="Are you sure?" data-method="DELETE">
                  <i class="fa fa-trash text-danger"></i>
                </a>
              <% end %>
            <% end %>
          </div>
      </div>

      <h4 class="text-bolder"><%= @treatment.name %> <span class="label <%= {Treatment::STATUS_DRAFT => 'label-default', Treatment::STATUS_FINAL => 'label-primary'}[@treatment.status] %>"><%= @treatment.status %></span></h4>

      <div class="text-smaller">
        Author: <% if @treatment.author %> <%= @treatment.author.full_name %> <% else %> <%= @treatment.author_name %> <% end %><br>
        ID: <%= @treatment.id %> <br>
        Appointment:
          <%  if @treatment.appointment %>
            <%= @treatment.appointment.start_time.strftime(t('date.common')) %> <span class="hidden-print"><span class="text-muted"> | </span><a href="<%= appointment_path(@treatment.appointment) %>">View</a></span>
          <% else %>
            <span class="text-muted">--</span>
          <% end %>
        <br>
        Created: <%= @treatment.created_at.strftime(t('date.common')) %> <br>
      </div>
    </div>


    <div class="panel-body">
      <% if @treatment.html_content.present? %>
        <div class="tiptap-content">
          <%= @treatment.html_content.html_safe %>
        </div>
      <% else %>
      <span class="text-muted">Empty</span>
      <% end %>
    </div>

  </div>

<% end %>

<% content_for :page_js do %>
  <%= render 'common/modal_send_email_js' %>
<% end %>
