<div>
<% if appointments.count > 0 %>
    <span>You have <%= appointments.count %> appointments <% if selected_date.to_date == Time.current.to_date %> today <% else %> on <% end %> <strong><%= selected_date.strftime('%a, %d %b') %></strong>:</span>
    <ul>
        <% appointments.each_with_index do |appt, idx| %>
        <li class="mt-5 pa-5 <%= 'bg-gray-light' if idx.odd? %>">
        <div class="pull-right text-smaller">
            <a href="<%= appointment_path(appt) %>" class="normal-link">Details</a>
        </div>
        <a href="<%= patient_path(appt.patient) %>"><%= appt.patient.full_name %></a> <br>
        <div class="text-smaller">
            <% if appt.home_visit? %>
                <%= appt.patient.short_address %>
                <br>
            <% end %>

            <% if appt.facility? %>
                <% contact = appt.availability.contact%>
                <strong><%= contact.business_name %></strong> , <%= contact.short_address %>
                <br>
            <% end %>

            <% if appt.arrival %>
            <span title="Arrival time"><%= appt.arrival.arrival_at&.strftime('%l:%M%P') %></span> <span class="text-muted"> | </span>
            <% end %>
            <%= appt.appointment_type.name %>
        </div>
        </li>
        <% end %>
    </ul>
<% else %>
    <p class="text-center mt-15">No appointments <% if selected_date.to_date == Time.current.to_date %> today <% else %> on <% end %> <strong><%= selected_date.strftime('%a, %d %b') %></strong></p>
<% end %>
</div>
