<div class="panel panel-default">
  <div class="panel-heading"><strong>NDIS details</strong></div>
  <div class="panel-body">
    <%= f.simple_fields_for :patient, @referral_form.patient do |ff| %>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <%= ff.input :ndis_client_number, label: 'NDIS client number', required: true %>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <%= ff.input :ndis_plan_start_date, required: true, as: :string, label: 'Plan start date'%>
          </div>
          <div class="col-xs-12 col-md-6">
            <%= ff.input :ndis_plan_end_date, required: true, as: :string, label: 'Plan end date' %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-6">
        <%= ff.input :ndis_plan_manager_name, label: 'Invoice to name' %>
      </div>
      <div class="col-xs-12 col-md-6">
        <%= ff.input :ndis_plan_manager_email, label: 'Invoice to email' %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-6">
        <%= ff.input :ndis_plan_manager_phone, label: 'Contact phone' %>
      </div>
    </div>
    <% end %>
  </div>
</div>
