<div class="panel panel-default">
  <div class="panel-body">
    <%= simple_nested_form_for billable_item, url: billable_item.new_record? ? billable_items_path : billable_item_path(billable_item) do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>

        <%= f.input :item_number, hint: 'Must be unique.' %>
        <%= f.input :price, label: 'Price (exclusive of tax)' %>

        <%= f.input :tax_id, collection: current_business.taxes.select(:id, :name) %>
      <hr>
      <button type="submit" class="btn btn-primary">Save</button>
      <a href="<%= billable_items_path %>" class="btn btn-white">Cancel</a>
    <% end %>
  </div>
</div>
