<% content_for :title, @billable_item.name %>

<section class="box-header">
  <div class="row">
    <div class="col-xs-6">
      <h1><%= @billable_item.name %></h1>
    </div>
    <div class="col-xs-6 text-right">
      <a href="<%= edit_billable_item_path(@billable_item) %>" class="btn btn-primary">
        <i class="fa fa-pencil"></i> Edit details
      </a>
    </div>
  </div>
</section>

<section class="breadcrumb">
  <ul>
    <li>
      <a href="<%= settings_path %>"><i class="fa fa-cog"></i> Settings</a>
    </li>
    <li>
      <a href="<%= billable_items_path %>">
        Billable items
      </a>
    </li>
    <li class="active">Details</li>
  </ul>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="block-info">
            <strong>Name:</strong>
            <p><%= @billable_item.name %></p>
          </div>

          <div class="block-info">
            <strong>Description:</strong>
            <p><%= @billable_item.description %></p>
          </div>

          <div class="block-info">
            <strong>Item number:</strong>
            <p><%= @billable_item.item_number %></p>
          </div>

          <div class="block-info">
            <strong>Price:</strong>
            <p><%= format_money @billable_item.price %></p>
          </div>

          <div class="block-info">
            <strong>Health insurance rebate:</strong>
            <div class="check-box check-box-readonly">
              <input type="checkbox" <%= @billable_item.health_insurance_rebate? ? "checked" : "" %>>
              <label>&nbsp;</label>
            </div>
          </div>

          <div class="block-info">
            <strong>Display on pricing pages:</strong>
            <div class="check-box check-box-readonly">
              <input type="checkbox" <%= @billable_item.display_on_pricing_page? ? "checked" : "" %>>
              <label>&nbsp;</label>
            </div>
          </div>

          <div class="block-info">
            <strong>Variable pricing for contacts:</strong>
            <div class="check-box check-box-readonly">
              <input type="checkbox" <%= @billable_item.pricing_for_contact? ? "checked" : "" %>>
              <label>&nbsp;</label>
            </div>
          </div>

          <div class="block-info">
            <strong>Tax:</strong>
            <p>
              <% if @billable_item.tax %>
                <%= @billable_item.tax_name %> (<%= @billable_item.tax_rate %>%)
              <% else %>
                <span class="text-muted">None</span>
              <% end %>
            </p>
          </div>

          <div class="block-info">
            <strong>Practitioners:</strong>
            <p><%= @billable_item.practitioners.map(&:full_name).join(', ') %></p>
          </div>
        </div>
      </div>
    </div>

    <% if @billable_item.pricing_for_contact %>
    <div class="col-md-6 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">Pricing for contacts</div>
        <div class="panel-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Contact</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody>
                <% @billable_item.pricing_contacts.each do |row| %>
                  <% if row.contact.present? %>
                  <tr>
                    <td>
                      <a href="<%= contact_path(row.contact_id) %>"><%= row.contact.business_name %></a>
                    </td>
                    <td><%= format_money row.price %></td>
                  </tr>
                  <% end %>
                <% end %>

                <% if @billable_item.pricing_contacts.blank? %>
                <tr>
                  <td colspan="2">Not found any pricing for contacts</td>
                </tr>
                <% end %>
              </tbody>
            </table>
        </div>
      </div>
    </div>
    <% end %>

  </div>

</section>
