<section class="box-header">
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <h1>Invoice <span class="text-copyable" js-click-to-copy="<%= @invoice.invoice_number %>">#<%= @invoice.invoice_number %></span>
        <% if @invoice.paid? %>
          <span class="small label label-success ml-10">Paid</span>
        <% end %>
        <% if @invoice.deleted_at? %>
          <small class="small label label-default ml-10">Voided</small>
        <% end %>
      </h1>
    </div>
    <% unless @invoice.deleted_at? %>
    <div class="col-md-6 col-xs-12 text-right">
      <div class="btn-group">
        <% if can?(:edit, @invoice) %>
        <a href="<%= edit_invoice_path(@invoice) %>" class="btn btn-white">
          <i class="fa fa-pencil"></i> Edit
        </a>
        <% end %>

        <a href="#" data-modal-content-url="<%= modal_send_email_invoice_path(@invoice) %>" class="btn btn-white js-btn-send-email">
          <i class="fa fa-envelope-o"></i>
          Email invoice
        </a>

        <% if !@invoice.paid? && can?(:create, Payment) %>
          <a href="<%= new_payment_path(invoice_id: @invoice.id) %>" class="btn btn-white">
            <i class="fa fa-credit-card"></i> Payment
          </a>
        <% end %>

        <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <span class="caret"></span>
        </button>

        <ul class="dropdown-menu dropdown-menu-right">
          <li>
            <a href="<%= invoice_path(@invoice, format: "pdf") %>">
              <i class="fa fa-print"></i> Print
            </a>
          </li>


          <li>
          <% if @invoice.appointment %>
            <li>
              <a href="<%= appointment_path(@invoice.appointment) %>">
                <i class="fa fa-calendar"></i> View appointment
              </a>
            </li>
          <% end %>

          <li class="divider"></li>
          <% if !@invoice.paid? %>
            <% reminder_template = current_business.get_communication_template('outstanding_invoice_reminder') %>
            <% if reminder_template && reminder_template.enabled? %>
              <% if @invoice.outstanding_reminder_enable? %>
                <li>
                  <a href="<%= disable_outstanding_reminder_invoice_path(@invoice) %>"
                    data-method="PUT"
                    data-confirm="Are you sure you want to DISABLE automatic outstanding reminder on this invoice?"
                    ><i class="fa fa-bell"></i> Disable outstanding reminder</a>
                </li>
              <% else %>
                <li>
                  <a href="<%= enable_outstanding_reminder_invoice_path(@invoice) %>"
                    data-method="PUT"
                    data-confirm="Are you sure you want to ENABLE automatic outstanding reminder on this invoice?"
                    ><i class="fa fa-bell"></i> Enable outstanding reminder</a>
                </li>
              <% end %>
            <% end %>
          <% end %>

          <% if !@invoice.paid? && can?(:destroy, @invoice) %>
            <li>
              <a href="<%= invoice_path(@invoice) %>" title="delete" data-confirm="Are you sure want to VOID this invoice? This action can not be undone!" data-method="delete" class="btn btn-link">
                <i class="fa fa-times" aria-hidden="true"></i> Void
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <% end %>
  </div>


</section>

<section>
  <div class="clearfix">
    <div class="col-xs-12">
      <%= yield %>
    </div>
  </div>
</section>

