<% content_for :title, 'My tasks' %>

<section class="box-header">
  <div class="row">
    <div class="col-xs-6">
      <h1> My tasks</h1>
    </div>

    <div class="text-right col-xs-6">
      <a href="<%= new_completed_tasks_path %>" data-remote="true" class="btn btn-primary"><i class="fa fa-plus"></i> Add completed task</span></a>
    </div>
  </div>
</section>

<section class="content">
  <div class="panel panel-default">
    <div class="panel-body">

      <%= search_form_for @search_query, url: mine_tasks_path, enforce_utf8: false do |f| %>
        <div class="row">

          <div class="col-xs-12 col-md-3">
            <div class="form-group">
              <%= f.search_field :name_or_patient_full_name_cont, placeholder: 'Search task name or client name', class: 'form-control' %>
            </div>
          </div>

          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <%= f.select :task_users_status_eq, [["All", ""], ["Status open", TaskUser::STATUS_OPEN], ["Status complete", TaskUser::STATUS_COMPLETE]], {}, { class: 'form-control'} %>
            </div>
          </div>

          <div class="col-md-2">
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
        </div>
      <% end %>

      <hr class="mt-5 mb-5">

      <div class="table-responsive">
        <table class="table table-borderless table-striped">
          <thead>
            <tr>
              <th style="width: 20px;"></th>
              <th style="width: 450px;">Task</th>
              <th>Due</th>
              <th>Created</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @tasks.each do |task| %>
            <% task_user = task.task_users.first %>
            <tr>
              <td>
                <% if task_user.status_complete? %>
                  <i class="bi bi-check-lg text-success"></i>
                <% end %>
              </td>
              <td>
                <span class="text-smaller pull-right">
                  <span class="label <%= get_priority_class(task.priority) %>">
                    <%= task.priority %>
                  </span>
                </span>

                <a href="<%= task_path(task) %>" data-remote="true"
                   <% if task_user.status_complete? %>
                    class="text-success"
                  <% else %>
                    class="normal-link"
                  <% end %>
                  >
                  <strong><%= task.name %></strong>
                </a>
                <p class="text-smaller mt-5"><%= truncate task.description, length: 100 %></p>
              </td>

              <td>
                <%= task.due_on&.strftime(t('date.common')) %>
              </td>

              <td>
                <%= task.created_at.strftime(t('date.common')) %>
              </td>

              <td>
                <% if !task_user.status_complete? %>
                  <a href="<%= modal_update_completion_task_path(task) %>" class="btn btn-white" title="Mark complete" data-remote="true">
                    Complete
                  </a>
                <% end %>

              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>


      <div class="row mt-15">
        <div class="col-md-6 text-left">
          <%= page_entries_info @tasks %>
        </div>
        <div class="col-md-6 text-right">
          <%= paginate @tasks, theme: 'app' %>
        </div>
      </div>

    </div>
  </div>
</section>
