<% content_for :title, 'Published account statements report' %>

<section class="box-header">
  <h1>Published account statements</h1>
</section>

<section class="breadcrumb">
  <ul>
    <li>
      <a href="<%= reports_path %>"><i class="fa fa-bar-chart"></i> Reports</a>
    </li>
    <li>
      <a href="<%= reports_path %>">Contacts</a>
    </li>
    <li class="active">Published account statements</li>
  </ul>
</section>

<section class="content">
  <div class="panel panel-default hidden-print">
    <div class="panel-body">
      <form action="<%= reports_contact_account_statements_path %>">
        <div class="row">
          <div class="col-md-10 col-xs-12">
            <div class="row">
              <div class="col-md-3">
                <label>Search:</label>
                <input type="text" class="form-control"
                  placeholder="Enter ID number"
                  name="search"
                  <% if @options.search.present? %>
                  value="<%= @options.search %>"
                  <% end %>
                  >
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label>Contacts:</label>
                  <select class="form-control selectize-contacts-ajax" name="contact_ids[]"
                    multiple="true"
                    placeholder="All">
                    <% if @options.contact_ids.present? %>
                    <%=
                      options_from_collection_for_select(
                        current_business.contacts.select(:id, :business_name).where(id: @options.contact_ids),
                        :id,
                        :business_name,
                        @options.contact_ids
                      )
                    %>
                    <% end %>
                  </select>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label>Published date from:</label>
                  <div class="input-group">
                    <input type="text"
                      class="form-control flatpickr-datepicker"
                      name="start_date"
                      value="<%= @options.start_date.strftime("%Y-%m-%d") if @options.start_date.present? %>"
                      data-alt-format="d M Y"
                      data-date-format="Y-m-d"
                      >
                    <span class="input-group-addon input-group-addon-middle">to</span>
                    <input type="text"
                      class="form-control flatpickr-datepicker"
                      value="<%= @options.end_date.strftime("%Y-%m-%d") if @options.end_date.present? %>"
                      name="end_date"
                      data-alt-format="d M Y"
                      data-date-format="Y-m-d"
                      >
                  </div>

                </div>
              </div>

              <div class="col-md-2">
                <div class="form-group">
                  <label>Payment status:</label>
                  <select name="payment_status" class="form-control">
                    <option value="">All</option>
                    <option value="paid" <% if @options.payment_status == 'paid' %> selected <% end %>>Paid</option>
                    <option value="outstanding" <% if @options.payment_status == 'outstanding' %> selected <% end %>>Outstanding</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-2 col-xs-12">
            <div class="form-group">
              <label>&nbsp;</label>
              <br>
              <button type="submit" class="btn btn-primary">Report</button>
              <a href="<%= reports_contact_account_statements_path %>" class="btn btn-white">Clear filters</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="panel panel-default mt-20">
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th style="width: 100px">ID</th>
              <th style="width: 300px">Contact</th>
              <th style="width: 150px">Statement date</th>
              <th style="width: 110px">Amount</th>
              <th style="width: 110px">Outstanding</th>
              <th>Published date</th>
            </tr>
          </thead>
          <tbody>
            <% @report.result[:paginated_account_statements].each do |as| %>
              <tr>
                <td>
                  <a href="<%= contact_account_statement_path(as.source, as) %>"><%= as.number %></a>
                </td>
                <td>
                  <a href="<%= contact_path(as.source) %>"><%= as.source.business_name %></a>
                </td>
                <td>
                  <%= as.start_date.strftime('%d %b') %> - <%= as.end_date.strftime('%d %b') %>
                </td>
                <td>
                  <%= format_money(as.total_invoices_amount) %>
                </td>
                <td>
                  <% if as.total_invoices_outstanding.zero? %>
                    <span class="label label-success">Paid</span>
                  <% else %>
                    <%= format_money(as.total_invoices_outstanding) %>
                  <% end %>
                </td>
                <td>
                  <%= as.created_at.strftime(t('datetime.common')) %>
                </td>
                <td>
                  <div class="btn-group">
                    <a href="<%= contact_account_statement_path(as.source_id, as, format: :pdf) %>"
                        class="btn btn-white"
                        target="_blank">Print</a>
                    <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu custom-dropdown dropdown-menu-right">
                      <li>
                        <a href="<%= send_to_contact_contact_account_statement_path(as.source_id, as) %>"
                          data-method="POST"
                          data-confirm="Are you sure?">
                          Email to contact
                        </a>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            <% end %>

            <% if @report.result[:paginated_account_statements].total_count == 0 %>
              <tr>
                <td colspan="7">Not found any items</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <% unless @report.result[:paginated_account_statements].total_count == 0 %>
        <div class="row hidden-print">
          <div class="col-md-6 text-left">
            <%= page_entries_info @report.result[:paginated_account_statements] %>
          </div>
          <div class="col-md-6 text-right">
            <%= paginate @report.result[:paginated_account_statements], theme: 'app' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
