<section class="box-header">
  <h1>Settings</h1>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-4">
      <div class="box report_blocks">
        <div class="box-body">
          <ul>
            <li>
              <a href="<%= admin_users_path %>">Users</a>
            </li>
            <li>
              <a href="<%= admin_practitioners_path %>">Practitioners</a>
            </li>
            <li>
              <a href="<%= admin_businesses_path %>">Businesses</a>
            </li>
            <li>
              <a href="<%= admin_reviews_path %>">Reviews</a>
            </li>
            <li>
              <a href="<%= admin_subscriptions_path %>">Subscriptions</a>
            </li>
            <li>
              <a href="<%= admin_business_invoices_path %>">Subscription invoices</a>
            </li>
            <li>
              <a href="<%= admin_subscription_payments_path %>">Subscription payments</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</section>
