<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu">

      <li>
        <a href="<%= admin_dashboard_path%>"><i class="bg-dashboard"></i> <span>Dashboard</span></a>
      </li>

      <li>
        <a href="<%= admin_marketplace_search_appointments_path %>">
          <i class="fa fa-tasks fa-calendar-plus-o fa-bg"></i>
          <span>Appointments</span>
        </a>
      </li>

      <li>
        <a href="<%= admin_marketplace_businesses_path %>">
          <i class="fa fa-bg fa-list"></i>
          <span>Businesses</span>
        </a>
      </li>

      <li>
        <a href="<%= admin_patients_path %>">
          <i class="bg-patient"></i>
          <span>Clients</span>
        </a>
      </li>

      <li>
        <a href="<%= admin_marketplace_practitioners_path %>">
          <i class="fa fa-slideshare fa-bg"></i>
          <span>Practitioners</span>
        </a>
      </li>

      <li>
        <a href="<%= admin_reports_path %>">
          <i class="bg-report"></i>
          <span>Reports</span>
        </a>
      </li>
      <li>
        <a href="<%= admin_settings_path %>">
          <i class="bg-settings"></i>
          <span>Settings</span>
        </a>
      </li>
    </ul>
  </section>
</aside>
