<header class="main-header">
  <div class="visible-xs mobile-sidebar-toggle-wrap">
    <a href="#" data-toggle="offcanvas" role="button"><i class="fa fa-bars"></i> </a>
  </div>

  <a class="logo">
    <span class="logo-mini"> </span>
    <span class="logo-lg"> </span>
  </a>

  <div class="box-user">
    <img src="<%= asset_path('default-avatar.png') %>" class="user-image" alt="">
    <i class="fa fa-angle-down"></i>
    <ul>
      <li><a href="<%= admin_profile_path %>">My profile</a></li>
      <li>
        <a href="<%= destroy_admin_user_session_path %>">Sign out</a>
      </li>
    </ul>
  </div>

  <nav class="navbar navbar-static-top">
    <a href="#" class="btn-toggle hidden-xs" data-toggle="offcanvas" role="button">
      <i class="fa fa-bars"></i>
    </a>

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li>
          <a href="#" title="Help"
            target="_blank" class="btn-link">
            <i class="fa fa-question-circle"></i> Need help
          </a>
        </li>
        <li class="search_input hidden-xs search-patients">
          <form action="<%= admin_patients_path %>" class="sidebar-form">
            <input type="text" name="q[first_name_or_last_name_or_full_name_or_email_cont]" class="form-control"
              placeholder="Search clients"
              autofocus="true">
            <button type="submit" class="btn btn-flat" id="search-btn">
              <i class="fa fa-search"></i>
            </button>
          </form>
        </li>
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="<%= asset_path('default-avatar.png') %>" class="user-image">
            <span class="hidden-sm hidden-xs user-name"><%= current_admin_user.full_name %></span>
            <i class="fa fa-angle-down arrow-down"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a href="<%= admin_profile_path %>">My profile</a></li>
            <li>
              <a href="<%= destroy_admin_user_session_path %>">Sign out</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
