<div class="row">
  <div class="col-md-6">
    <div class="box">
      <%= simple_nested_form_for [:settings, object], url: object.new_record? ? settings_tags_path : settings_tag_path(object) do |f| %>
        <%= f.input :name, label: 'Tag name', placeholder: 'Enter tag name' %>
        <%= f.input :color,
                    label: 'Color',
                    as: :string,
                    input_html: { type: 'color', value: object.color.presence || '#000000', class: 'form-control', style: 'height: 40px; width: 80px;' } %>
        <%= f.submit class: 'btn btn-primary', value: object.new_record? ? "Create" : "Update", "data-disable-with": object.new_record? ? "Creating..." : "Updating..." %>
        <a href="<%= settings_tags_path %>" class="btn btn-white">Cancel</a>
      <% end %>
    </div>
  </div>
</div>
