<section class="content-header">
  <h1>
    Manage payments
  </h1>

  <ol class="breadcrumb">
    <li>
      Dashboard
    </li>
    <li class="active">
      <a href="<%= admin_payments_path %>">Manage payments</a>
    </li>
  </ol>
</section>

<section class="content">
  <div class="box">
    <div class="box-body">

      <div class="table-responsive mt-20">
        <table class="table table-bordered table-striped table-success">
          <thead>
            <tr>
              <th>#</th>
              <th>Invoice</th>
              <th>Business</th>
              <th>Patient</th>
              <th>Amount</th>
              <th>Payment date</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @payments.each do |payment| %>
              <tr>
                <td>
                  <a href="<%= admin_payment_path(payment) %>"><%= payment.id %></a>
                </td>
                <td>
                  <% if payment.invoice %>
                    <a href="<%= admin_invoice_path(payment.invoice) %>">#<%= payment.invoice.invoice_number %></a>
                  <% else %>
                  <span>-</span>
                  <% end %>
                </td>
                <td>
                  <a href="<%= admin_business_path(payment.business) %>"><%= payment.business.name %></a>
                </td>
                <td><%= link_to payment.patient.full_name, admin_patient_path(payment.patient) %></td>
                <td><%= format_money payment.amount %></td>
                <td><%= payment.payment_date.try(:strftime, '%B %d, %Y') %></td>
                <td>
                  <%= link_to 'Show', admin_payment_path(payment), class: "btn btn-link" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <!-- Pagination -->
      <div class="row">
        <div class="col-md-6 text-left">
          <%= page_entries_info @payments %>
        </div>
        <div class="col-md-6 text-right">
          <%= paginate @payments %>
        </div>
      </div>

    </div>
  </div>
</section>
