<section class="content-header">
  <h1>
    Payment details
  </h1>

  <ol class="breadcrumb">
    <li>
      Dashboard
    </li>
    <li>
      <a href="<%= admin_payments_path %>">Manage payments</a>
    </li>
    <li class="active">
      Payment details
    </li>
  </ol>
</section>

<section class="content">
  <div class="box">
    <div class="box-body">
      <div class="row">
        <div class="col-md-12">

          <div class="panel panel-success">
            <div class="panel-heading">General info</div>
            <div class="panel-body">
              <p>
                <strong>Payment date:</strong>
                <%= @payment.payment_date %>
              </p>
            </div>
          </div>

          <div class="panel panel-success">
            <div class="panel-heading">Local payment types</div>
            <div class="panel-body">

              <p>
                <strong>Eftpos:</strong>
                <%= format_money @payment.eftpos %>
              </p>

              <p>
                <strong>Hicaps:</strong>
                <%= format_money @payment.hicaps %>
              </p>

              <p>
                <strong>Cash:</strong>
                <%= format_money @payment.cash %>
              </p>

              <p>
                <strong>Medicare:</strong>
                <%= format_money @payment.medicare %>
              </p>

              <p>
                <strong>Workcover:</strong>
                <%= format_money @payment.workcover %>
              </p>

              <p>
                <strong>Dva:</strong>
                <%= format_money @payment.dva %>
              </p>

              <p>
                <strong>Other:</strong>
                <%= format_money @payment.other %>
              </p>

            </div>
          </div>

          <% if @payment.hicaps_transaction %>
            <div class="panel panel-success">
              <div class="panel-heading">Medipass payment</div>
              <div class="panel-body">
                <% hicaps_txn = @payment.hicaps_transaction %>
                <p>
                  <strong>Transaction ID:</strong>
                  <%= hicaps_txn.transaction_id %>
                </p>
                <p>
                  <strong>Status:</strong>
                  <%= hicaps_txn.status.titleize %>
                </p>
                <p>
                  <strong>Requested at:</strong>
                  <%= hicaps_txn.requested_at.strftime('%B %d, %Y at %l:%M%P') %>
                </p>
                <% if hicaps_txn.completed? %>
                  <p>
                    <strong>Approved at:</strong>
                    <%= hicaps_txn.approved_at.strftime('%B %d, %Y at %l:%M%P') %>
                  </p>
                <% end %>
              </div>
            </div>
          <% end %>

          <div class="panel panel-success">
            <div class="panel-heading">Stripe payment</div>
            <div class="panel-body">
              <% if @payment.stripe_charge_id? %>
                <p>
                  <strong>Amount</strong>
                  <%= format_money @payment.stripe_charge_amount %>
                </p>
              <% end %>
            </div>
          </div>

          <div class="panel panel-success">
            <div class="panel-heading">Total</div>
            <div class="panel-body">

              <p>
                <strong>Total amount:</strong>
                <%= format_money @payment.amount %>
                </p>
            </div>
          </div>

      </div>
    </div>
  </div>
</section>

