<section class="box-header">
  <div class="row">
    <div class="col-xs-6">
      <h1>Admin / Tags</h1>
    </div>
    <div class="col-xs-6 text-right">
      <a href="<%= new_admin_tag_path %>" class="btn sitebtn">
        <i class="fa fa-plus"></i> New tag
      </a>
    </div>
  </div>
</section>

<section class="breadcrumb">
  <ul>
    <li>
      <a href="<%= admin_settings_path %>"><i class="fa fa-cog"></i> Admin Settings</a>
    </li>
    <li>Tags</li>
  </ul>
</section>

<section class="content">
  <div class="box-table">
    <table class="table-flat">
      <thead>
        <tr>
          <th>Name</th>
          <th>Classification</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @tags.each do |tag| %>
          <tr>
            <td><%= link_to tag.name, admin_tag_path(tag), class: 'btn btn-link' %></td>
            <td><%= tag.classification %></td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-success btn-sm btn-flat dropdown-toggle" data-toggle="dropdown">
                  Action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li>
                    <a href="<%= admin_tag_path(tag) %>">
                      <i class="fa fa-eye"></i> Show
                    </a>
                  </li>
                  <li>
                    <a href="<%= edit_admin_tag_path(tag) %>">
                      <i class="fa fa-pencil-square-o"></i> Edit
                    </a>
                  </li>
                  <li>
                    <a href="<%= admin_tag_path(tag) %>" data-method="DELETE" 
                      data-confirm="Are you sure?">
                      <i class="fa fa-trash"></i> Show
                    </a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="row">
      <div class="col-md-6 text-left">
        <%= page_entries_info @tags %>
      </div>
      <div class="col-md-6 text-right">
        <%= paginate @tags %>
      </div>
    </div>
  </div>
</section>
