<div class="panel panel-default">
  <div class="panel-heading"><strong>Health insurance details</strong></div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="block-info">
          <strong>Company:</strong>
          <p>
            <%= @referral.patient_attrs[:hi_company_name].presence || 'N/A' %>
          </p>
        </div>
      </div>

      <div class="col-md-6 col-xs-12">
        <div class="block-info">
          <strong>Number:</strong>
          <p>
            <%= @referral.patient_attrs[:hi_number].presence || 'N/A' %>
          </p>
        </div>
      </div>

      <div class="col-md-6 col-xs-12">
        <div class="block-info">
          <strong>Manager name:</strong>
          <p>
            <%= @referral.patient_attrs[:hi_manager_name].presence || 'N/A' %>
          </p>
        </div>
      </div>

      <div class="col-md-6 col-xs-12">
        <div class="block-info">
          <strong>Manager email:</strong>
          <p>
            <%= @referral.patient_attrs[:hi_manager_email].presence || 'N/A' %>
          </p>
        </div>
      </div>

      <div class="col-md-6 col-xs-12">
        <div class="block-info">
          <strong>Manager phone:</strong>
          <p>
            <%= @referral.patient_attrs[:hi_manager_phone].presence || 'N/A' %>
          </p>
        </div>
      </div>

    </div>
  </div>
</div>
