<section class="box-header">
  <h1>Referral Details</h1>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-6">
      <h3>Service</h3>
      <div class="box">
        <div class="block-info">
          <strong>Created: </strong>
          <p><%= @referral.created_at.strftime t('datetime.common') %></p>
        </div>
        <div class="block-info">
          <strong>Referral type:</strong>
          <p>
            <%= @referral.type.try(:titleize) || 'General' %>
          </p>
        </div>
        <div class="block-info">
          <strong>Professions: </strong>
          <p><%= @referral.professions.join(', ') %></p>
        </div>
        <div class="block-info">
          <strong>Availability type: </strong>
          <p><%= @referral.availability_type&.name %></p>
        </div>
        <div class="block-info">
          <strong>Practitioner: </strong>
          <p>
            <% if @referral.practitioner %>
              <%= @referral.practitioner.full_name %>
            <% else %>
              <span class="text-muted">--</span>
            <% end %>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <h3>Referrer</h3>
      <div class="box">
        <div class="block-info">
          <strong>Business name: </strong>
          <p><%= @referral.referrer_business_name %></p>
        </div>
        <div class="block-info">
          <strong>Name: </strong>
          <p><%= @referral.referrer_name %></p>
        </div>
        <div class="block-info">
          <strong>Email: </strong>
          <p><%= @referral.referrer_email %></p>
        </div>
        <div class="block-info">
          <strong>Phone: </strong>
          <p><%= @referral.referrer_phone %></p>
        </div>
      </div>
    </div>
  </div>
  <h3>Client details</h3>
  <div class="box">
    <div class="row">
      <div class="col-md-6">
        <div class="block-info">
          <strong>First Name: </strong>
          <p><%= @referral.patient_attrs[:first_name] %></p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="block-info">
          <strong>Last Name: </strong>
          <p><%= @referral.patient_attrs[:last_name] %></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="block-info">
          <strong>DOB: </strong>
          <p><%= @referral.patient_attrs[:dob] %></p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="block-info">
          <strong>Email: </strong>
          <p><%= @referral.patient_attrs[:email] %></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="block-info">
          <strong>Phone: </strong>
          <p><%= @referral.patient_attrs[:phone] %></p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="block-info">
          <strong>Address: </strong>
          <p><%= @referral.patient_address %></p>
        </div>
      </div>
    </div>

    <% if @referral.medical_note %>
    <div class="block-info">
      <strong>Medical note: </strong>
      <p><%= @referral.medical_note %></p>
    </div>
    <% end %>

  </div>

</section>
