<section class="box-header">
  <div class="row">
    <div class="col-xs-6">
      <h1><%= @contact.business_name %>
        <br class="visible-xs">
        <small>| CRN: <span class="text-copyable" js-click-to-copy="<%= @contact.id %>"><%= @contact.id %></span></small>
        <% if @contact.archived_at? %>
          <small>| Archived: <%= @contact.archived_at.strftime(t('date.common')) %></small>
        <% end %>

      </h1>
    </div>

    <% if controller_name == 'contacts' && ['show', 'edit'].include?(action_name) %>
      <div class="col-xs-6 text-right">
        <div class="btn-group">
          <a href="<%= edit_contact_path(@contact) %>" class="btn btn-white"><i class="fa fa-pencil"></i> Edit details</a>
          <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right">
            <% if can?(:merge, @contact) %>
            <li>
              <a href="<%= possible_duplicates_contact_path(@contact) %>" data-remote="true" id="btn-possible-duplicates">
                Merge
              </a>
            <li>
            <% end %>
            <% if can?(:destroy, @contact) %>
            <li>
              <a href="<%= archive_contact_path(@contact) %>" data-confirm="Are you sure you want to archive this contact?" data-method="put"><span class="text-danger">Archive</span> </a>
            <li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

  </div>
</section>

<section class="content">
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-2 col-xs-12">
      <%= render 'contacts/sidebar' %>
    </div>

    <div class="col-sm-9 col-md-9 col-lg-10 col-xs-12">
      <%= yield %>
    </div>
  </div>
</section>
