<%
  invoices_count = @contact.invoices.count
  patients_count = @contact.patients.where(archived_at: nil).count(Arel.sql('DISTINCT patients.id'))
  messages_count = Communication.where(recipient: @contact).count
  account_statements_count = @contact.account_statements.not_deleted.count
%>
<div class="bg-white">
  <ul class="nav nav-pills nav-stacked">
    <li class=<%= (controller_name == 'contacts' && action_name == 'show') ? 'active' : '' %> >
      <a href="<%= contact_path(@contact) %>">Contact details</a>
    </li>
    <li class=<%= (controller_name == 'contacts' && action_name == 'invoices') ? 'active' : '' %> >
      <a href="<%= invoices_contact_path(@contact) %>">Invoices <% if invoices_count > 0 %><span class="label label-default pull-right"><%= invoices_count %></span><% end %></a>
    </li>
    <li class=<%= (controller_name == 'contacts' && action_name == 'patients') ? 'active' : '' %> >
      <a href="<%= patients_contact_path(@contact) %>">Clients <% if patients_count > 0 %><span class="label label-default pull-right"><%= patients_count %></span><% end %></a>
    </li>
    <% if false %>
    <li class=<%= (controller_name == 'contact_communications' && (action_name == 'index' || action_name == 'show')) ? 'active' : '' %> >
      <a href="<%= contact_communications_path(@contact) %>">Messages <% if messages_count > 0 %><span class="label label-default pull-right"><%= messages_count %></span><% end %></a>
    </li>
    <% end %>
    <li class=<%= (controller_name == 'contact_account_statements' && action_name == 'published') ? 'active' : '' %> >
      <a href="<%= published_contact_account_statements_path(@contact) %>">Published statements <% if account_statements_count > 0 %><span class="label label-default pull-right"><%= account_statements_count %></span><% end %></a>
    </li>
    <li class=<%= (controller_name == 'contact_account_statements' && action_name == 'index') ? 'active' : '' %> >
      <a href="<%= contact_account_statements_path(@contact) %>">Account statements</a>
    </li>
  </ul>

</div>