<section class="box-header">
  <div class="row">
    <div class="col-xs-6">
      <h1><%= @practitioner.full_name %></h1>
    </div>
    <div class="col-xs-6 text-right">
      <div class="btn-group">
        <button type="button" class="btn btn-success btn-flat dropdown-toggle" data-toggle="dropdown">
          Action <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li>
            <a href="<%= edit_admin_marketplace_practitioner_path(@practitioner) %>">
              <i class="fa fa-pencil"></i> Edit details
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="breadcrumb">
  <ul>
    <li>
      <a href="<%= admin_settings_path %>">Settings</a>
    </li>
    <li>
      <a href="<%= admin_marketplace_practitioners_path %>">Practitioners</a>
    </li>
    <li><%= @practitioner.full_name %></li>
  </ul>
</section>

<section class="content">
  <div class="box">
    <div class="panel-body">
      <p>
        <img src="<%= @practitioner.user.avatar.url(:medium) %>" width="100">
      </p>
      <div class="block-info">
        <p><%= @practitioner.full_name %></p>
      </div>
    </div>
  </div>

  <h3>Contact info</h3>
  <div class="box">
    <div class="block-info">
      <strong>Phone:</strong>
      <p><%= @practitioner.phone %></p>
    </div>

    <div class="block-info">
      <strong>Mobile:</strong>
      <p><%= @practitioner.mobile %></p>
    </div>

    <div class="block-info">
      <strong>Website:</strong>
      <p><%= @practitioner.website %></p>
    </div>

    <div class="block-info">
      <strong>Email:</strong>
      <p><%= @practitioner.user_email %></p>
    </div>
  </div>

  <h3>Address & location</h3>
  <div class="box">
    <div class="block-info">
      <strong>Full address:</strong>
      <p><%= @practitioner.full_address %></p>
    </div>
  </div>

  <h3>Summary</h3>
  <div class="box">
    <p><%= simple_format @practitioner.summary.to_s %></p>
  </div>

  <h3>Registration</h3>
  <div class="box">
    <div class="block-info">
      <strong>Profession:</strong>
      <p><%= @practitioner.profession %></p>
    </div>

    <div class="block-info">
      <strong>Ahpra:</strong>
      <p><%= @practitioner.ahpra %></p>
    </div>
  </div>

  <h3>Business summary</h3>
  <div class="box">
    <div class="block-info">
      <strong>Medicare:</strong>
      <p><%= @practitioner.medicare %></p>
    </div>
  </div>
</section>
