<%= simple_form_for post, url: post.new_record? ? admin_posts_path : admin_post_path(post) do |f| %>

<div class="box">
    <%= f.input :title %>

    <div class="form-group">
      <label class="control-label">Thumbnail</label>
      <div class="row">
        <div class="col-xs-2">
          <%= f.input :thumbnail, as: :file, label: false, wrapper: false %>
        </div>
        <div class="col-xs-10">
          <% if post.thumbnail.exists? %>
            <img src="<%= post.thumbnail.url(:thumb) %>" class="img-responsive">
          <% end %>
        </div>
      </div>
    </div>

    <%= f.input :meta_description %>
    <%= f.input :meta_keywords %>

    <%= f.input :published, label: "Published", wrapper: false %>

  <hr>

  <button class="btn btn-primary" type="submit"><%= post.new_record? ? "Create" : "Update" %></button>
  <a href="<%= admin_posts_path %>" class="btn btn-white">Cancel</a>
</div>

<% end %>
