<section class="box-header">
  <h1>Manage blog posts</h1>
</section>

<section class="breadcrumb">
  <ul>
    <li>
      <a href="<%= admin_settings_path %>"><i class="fa fa-cog"></i> Admin Settings</a>
    </li>
    <li>Blog posts</li>
  </ul>
</section>

<section class="content">
  <div class="box">
    <h4>Summary</h4>
    Published: <span class="text-bolder"><%= Post.published.count %></span>
    <br>
    Unpublished: <span class="text-bolder"><%= Post.unpublished.count %></span>
    <br>
    Last post created: <span class="text-bolder"><%= Post.order(id: :desc).first.try(:created_at).try(:strftime, t('datetime.common')) %></span>
  </div>

  <div class="box mt-30">
    <%= search_form_for @search_query, url: admin_posts_path, enforce_utf8: false do |f| %>
    <div class="row">
      <div class="col-sm-4">
        <label>Search</label>
        <%= f.search_field :title_cont, class: 'form-control', placeholder: 'Enter title' %>
      </div>

      <div class="col-sm-3">
        <label>Published?</label>
        <select class="form-control" name="q[published_eq]">
          <option value="">-- Not selected --</option>
          <option value="1" <%= 'selected' if params.dig(:q, :published_eq).to_s == '1' %>>Yes</option>
          <option value="0" <%= 'selected' if params.dig(:q, :published_eq).to_s == '0' %>>No</option>
        </select>
      </div>

      <div class="col-sm-3 text-right">
        <br>
        <button type="submit" class="btn btn-primary">
          Search</button>
        <a href="<%= admin_posts_path %>" class="btn btn-white">Clear</a>
      </div>
    </div>
    <% end %>
  <hr>
  <div class="table-responsive">
    <table class="table-flat">
      <thead>
        <tr>
          <th>Title</th>
          <th>Practitioner</th>
          <th>Published</th>
          <th>Last updated</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td>
              <a href="<%= admin_post_path(post) %>"><%= truncate(post.title, length: 50) %></a>
            </td>

            <td><%= post.practitioner.full_name %></td>
            <td>
              <% if post.published? %>
                <span class="label bg-green">Published</span>
              <% else %>
                <span class="label bg-red">Unpublished</span>
              <% end %>
            </td>
            <td><%= post.updated_at.strftime(t('datetime.common')) %></td>
            <td>
              <div class="btn-group">
                <a href="<%= admin_post_path(post) %>" class="btn btn-white">
                  Details
                </a>

                <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li>
                    <a href="<%= approval_admin_post_path(post) %>" data-method="PUT"
                      data-confirm="Are you sure?">
                      <% if post.published? %>
                        Unpublish
                      <% else %>
                        Publish
                      <% end %>
                    </a>
                  </li>

                  <li>
                    <% if post.published? %>
                      <a href="<%= frontend_blog_post_path(slug: post.slug) %>" target="_blank">View live page</a>
                    <% end %>
                  </li>

                  <li>
                    <a href="<%= edit_admin_post_path(post) %>">
                      Edit
                    </a>
                  </li>
                  <li>
                    <a href="<%= admin_post_path(post) %>" data-method="DELETE"
                      data-confirm="Are you sure?">
                      <span class="text-danger">Delete</span>
                    </a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="row">
      <div class="col-md-6 text-left">
        <%= page_entries_info @posts %>
      </div>
      <div class="col-md-6 text-right">
        <%= paginate @posts %>
      </div>
    </div>
  </div>
</section>
