<section class="box-header">
  <div class="row">
    <div class="col-xs-6">
      <h1><%= @post.title %></h1>
    </div>
    <div class="col-xs-6 text-right">
      <div class="btn-group">
        <% if @post.published? %>
          <a href="<%= frontend_blog_post_path(slug: @post.slug) %>" class="btn btn-white" target="_blank">View live page</a>
        <% end %>

        <a href="<%= edit_admin_post_path(@post) %>" class="btn btn-white">
          <i class="fa fa-pencil-square-o"></i> Edit
        </a>

        <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>

        <ul class="dropdown-menu dropdown-menu-right">
          <li>
            <a href="<%= approval_admin_post_path(@post) %>" data-method="PUT"
              data-confirm="Are you sure?">
              <% if @post.published? %>
                <i class="fa fa-close"></i> Unpublish
              <% else %>
                <i class="fa fa-check"></i> Publish
              <% end %>
            </a>
          </li>
          <li>
            <a href="<%= admin_post_path(@post) %>" data-method="DELETE"
              data-confirm="Are you sure?">
              <i class="fa fa-trash"></i> Delete
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="breadcrumb">
  <ul>
    <li>
      <a href="<%= admin_settings_path %>"><i class="fa fa-cog"></i> Admin Settings</a>
    </li>
    <li>
      <a href="<%= admin_posts_path %>">Blog posts</a>
    </li>
    <li><%= @post.title %></li>
  </ul>
</section>

<section class="content">
  <h3>Post details</h3>
  <div class="box">
    <div class="row">
      <div class="col-md-5">

        <div class="block-info">
          <strong>Thumbnail:</strong>
          <p>
          <% if @post.thumbnail.exists? %>
            <img src="<%= @post.thumbnail.url(:medium) %>" width="300">
          <% else %>
            N/A
          <% end %>
          </p>
        </div>

        <div class="block-info">
          <strong>Author:</strong>
          <p>
            <a href="<%= admin_practitioner_path(@post.practitioner) %>"><%= @post.practitioner.full_name %></a>
          </p>
        </div>

        <div class="block-info">
          <strong>Meta description:</strong>
          <p><%= @post.meta_description %></p>
        </div>

        <div class="block-info">
          <strong>Meta keywords:</strong>
          <p><%= @post.meta_keywords %></p>
        </div>

        <div class="block-info">
          <strong>Summary:</strong>
          <p><%= @post.summary %></p>
        </div>

        <div class="block-info">
          <strong>Last updated at:</strong>
          <p><%= @post.updated_at.strftime(t('datetime.common')) %></p>
        </div>

        <div class="block-info">
          <strong>Published: </strong>
          <p>
            <% if @post.published? %> Yes <% else %> No <% end %>
          </p>
        </div>
      </div>

      <div class="col-md-7">
        <p><%= sanitize @post.content, scrubber: Blog::Scrubber.new %></p>
      </div>
    </div>
    <hr>
    <a href="<%= admin_posts_path %>" class="btn btn-white">Back to list</a>
  </div>
</section>
