<%
 form_url = admin_user.new_record? ? admin_marketplace_admin_users_path(marketplace) : admin_marketplace_admin_user_path(marketplace, admin_user)
%>
<%= simple_form_for admin_user, url: form_url do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email %>
  <% unless admin_user.new_record? %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
  <% end %>
  <div>
    <button class="btn sitebtn"><%= admin_user.new_record? ? "Create" : "Update" %></button>
    <a href="<%= form_url %>" class="btn linebtn">Cancel</a>
  </div>
<% end %>
