<%= render 'show_layout' do %>
  <div class="row">
    <div class="col-lg-8 col-md-12 col-xs-12">
      <%= simple_form_for @update_patient_form, as: :patient, url: patient_path(@patient), method: 'PUT' do |f| %>

        <div class="panel panel-default">
          <div class="panel-heading"><span class="panel-title">Basic info</span></div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-6">
                <%= f.input :title, as: :select, collection: patient_titles %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <%= f.input :first_name, input_html: { autofocus: true } %>
              </div>
              <div class="col-md-6">
                <%= f.input :last_name %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <%= f.input :dob, as: :string, input_html: { placeholder: 'dd/mm/yyyy', value: (@patient.dob? ? @patient.dob.try(:strftime, '%d/%m/%Y') : nil) } %>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">Tags</div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-6">
                <%= f.input :tag_ids, as: :select, label: false, collection: current_business.tags.order(name: :asc).all, include_hidden: false, label_method: :name, input_html: { multiple: true, id: 'js-input-patient-tags' } %>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading"><span class="panel-title">Contact info</span></div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-6">
                <%= f.input :phone %>
              </div>
              <div class="col-md-6">
                <%= f.input :mobile %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <%= f.input :email %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <%= f.input :next_of_kin, as: :text, input_html: { rows: 3 } %>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading"><span class="panel-title">Address</span></div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-6">
                <%= f.input :address1 %>
              </div>
              <div class="col-md-6">
                <%= f.input :address2, placeholder: 'Apartment, suite, unit, etc.' %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <%= f.input :city %>
              </div>
              <div class="col-md-6">
                <%= f.input :state %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-20 clearfix">
                <%= f.input :postcode %>
              </div>
              <div class="col-md-6 mb-20 clearfix">
                <%= f.input :country, priority: [ current_business.country ]%>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading"><span class="panel-title">Additional info</span></div>
          <div class="panel-body">
            <%= f.input :general_info, as: :text, placeholder: 'Extra info, medical history, notes, etc ...', label: false, input_html: { rows: 7 } %>
          </div>
        </div>

        <%= render 'associated_contacts', patient: @patient %>

        <div class="panel panel-default">
          <div class="panel-heading"><span class="panel-title">Other info</span></div>
          <div class="panel-body">

            <div class="row">
              <div class="col-md-6">
                <%= f.input :nationality %>
              </div>
              <div class="col-md-6">
                <%= f.input :spoken_languages %>
              </div>

              <% if current_business.country == App::COUNTRY_AUSTRALIA %>
                <div class="col-md-6">
                  <%= f.input :aboriginal_status, collection: ['No', 'Aboriginal', 'Torres Strait Islander', 'Both'] %>
                </div>
              <% end %>

              <div class="col-md-6">
                <%= f.input :gender, as: :select, collection: Patient::GENDERS %>
              </div>
            </div>

            <hr>

            <%= f.input :reminder_enable, as: :boolean, label: 'Reminder enable' %>

            <hr>

            <div class="form-group">
              <label class="control-label">Privacy policy</label>
              <p class="text-smaller">Does the client consent to privacy policy?</p>
              <%= f.input :accepted_privacy_policy, as: :radio_buttons, label: false, collection: [['No response', ''], ['Accepted', true], ['Rejected', false]], item_wrapper_tag: false, item_label_class: 'radio-inline' %>
            </div>

          </div>
        </div>

        <div>
          <button class="btn btn-primary" type="submit">Save client</button>
          <a href="<%= patient_path(@patient) %>" class="btn btn-white">Cancel</a>
        </div>
      <% end %>
    </div>
  </div>
<% end %>


<% content_for :page_js do %>
  <script>
    (function () {
      // Bind Google autocomplete
      var autocomplete;

      function locationSelected() {
        var place = autocomplete.getPlace();

        var componentForm = {
          street_number: 'patient_address1',
          subpremise: 'patient_address1',
          locality: 'patient_city',
          administrative_area_level_1: 'patient_state',
          postal_code: 'patient_postcode',
          country: 'patient_country',
          postal_town: 'patient_city'
        };

        if (place.address_components) {
          $.each(componentForm, function (index, element) {
            $('#' + element).val('');
          });
          $.each(place.address_components, function (index, item) {
            if (componentForm[item.types[0]]) {
              $inputElement = $('#' + componentForm[item.types[0]]);
              if (item.types[0] == 'subpremise') {
                $($inputElement).val(item.short_name + '/')
              } else {
                $($inputElement).val($inputElement.val() + item.short_name)
              }
            }

            if (item.types[0] == 'country') {
              $('#patient_country').val(item.short_name);
            }

            if (item.types[0] == 'route') {
              $('#patient_address1').val($('#patient_address1').val() + ' ' + item.short_name);
            }
          });
        }
      };
      autocomplete = new google.maps.places.Autocomplete($('#patient_address1')[0], autocompleteDefaultOptions);

      autocomplete.addListener('place_changed', locationSelected);

      var allTags = JSON.parse('<%= j current_business.tags.type_patient.to_a.to_json.html_safe %>');
      $('#js-input-patient-tags').selectize({
        plugins: ['remove_button'],
        options: [],
        valueField: 'id',
        addPrecedence: false,
        labelField: 'name',
        searchField: ['name'],
        options: allTags,
        render: {
          item: function (item, escape) {
              return (
              "<div>" +
                '<span class="badge" style="margin-bottom: 2px; background-color: ' + item.color +'">' + escape(item.name) + "</span>" +
              "</div>"
              );
          }
        },
      });

    })();
  </script>
<% end %>
