<% content_for :title, 'Add new client' %>

<section class="box-header">
  <h1>Add new client</h1>
</section>

<section class="content">
  <div class="row">
    <div class="col-lg-6 col-md-8 col-xs-12">
      <%= simple_nested_form_for @create_patient_form, as: :patient, url: patients_path do |f| %>

        <div class="panel panel-default">
          <div class="panel-heading"><span class="panel-title">Basic info</span></div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-6">
                <%= f.input :title, as: :select, collection: patient_titles %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <%= f.input :first_name, input_html: { autofocus: true } %>
              </div>
              <div class="col-md-6">
                <%= f.input :last_name %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <%= f.input :dob, as: :string, input_html: { placeholder: 'dd/mm/yyyy' } %>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading"><span class="panel-title">Contact info</span></div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-6">
                <%= f.input :phone %>
              </div>
              <div class="col-md-6">
                <%= f.input :mobile %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <%= f.input :email %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <%= f.input :next_of_kin, as: :text, input_html: { rows: 3 } %>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading"><span class="panel-title">Address</span></div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-6">
                <%= f.input :address1 %>
              </div>
              <div class="col-md-6">
                <%= f.input :address2, placeholder: 'Apartment, suite, unit, etc.' %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <%= f.input :city %>
              </div>
              <div class="col-md-6">
                <%= f.input :state %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-20 clearfix">
                <%= f.input :postcode %>
              </div>
              <div class="col-md-6 mb-20 clearfix">
                <%= f.input :country, priority: [ current_business.country ]%>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading"><span class="panel-title">Additional info</span></div>
          <div class="panel-body">
            <%= f.input :general_info, as: :text, placeholder: 'Extra info, medical history, notes, etc ...', label: false, input_html: { rows: 5 } %>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading"><span class="panel-title">Associate contacts</span></div>
          <div class="panel-body">
            <div id="js-contact-tags-wrap">
              <%
                associated_contacts_ids = (@create_patient_form.referrer_contact_ids + @create_patient_form.invoice_to_contact_ids +
                                        @create_patient_form.doctor_contact_ids + @create_patient_form.specialist_contact_ids +
                                        @create_patient_form.other_contact_ids).map(&:presence).compact.uniq

                associated_contacts = current_business.contacts.with_deleted.where(id: associated_contacts_ids)
              %>

              <div class="form-group">
                <label>Referrer:</label>
                <%= f.input :referrer_contact_ids, as: :select, label: false, wrapper: false, collection: associated_contacts, include_hidden: false, label_method: :business_name, input_html: { multiple: true, class: 'js-input-contact-tags'} %>
              </div>

              <div class="form-group">
                <label>Invoice to:</label>
                <%= f.input :invoice_to_contact_ids, as: :select, label: false, wrapper: false, collection: associated_contacts, include_hidden: false, label_method: :business_name, input_html: { multiple: true, class: 'js-input-contact-tags' } %>
              </div>

              <div class="form-group">
                <label>Doctor:</label>
                <%= f.input :doctor_contact_ids, as: :select, label: false, wrapper: false, collection: associated_contacts, include_hidden: false, label_method: :business_name, input_html: { multiple: true, class: 'js-input-contact-tags' }
                %>
              </div>

              <div class="form-group">
                <label>Specialist:</label>
                <%= f.input :specialist_contact_ids, as: :select, label: false, wrapper: false, collection: associated_contacts, include_hidden: false, label_method: :business_name, input_html: { multiple: true, class: 'js-input-contact-tags' } %>
              </div>

              <div class="form-group">
                <label>Other:</label>
                <%= f.input :other_contact_ids, as: :select, label: false, wrapper: false, collection: associated_contacts, include_hidden: false, label_method: :business_name, input_html: { multiple: true, class: 'js-input-contact-tags' } %>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading"><span class="panel-title">Other info</span></div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-6">
                <%= f.input :nationality %>
              </div>
              <div class="col-md-6">
                <%= f.input :spoken_languages %>
              </div>

              <% if current_business.country == App::COUNTRY_AUSTRALIA %>
                <div class="col-md-6">
                  <%= f.input :aboriginal_status, collection: ['No', 'Aboriginal', 'Torres Strait Islander', 'Both'] %>
                </div>
              <% end %>

              <div class="col-md-6">
                <%= f.input :gender, as: :select, collection: Patient::GENDERS %>
              </div>
            </div>

            <hr>

            <%= f.input :reminder_enable, as: :boolean, label: 'Reminder enable' %>

            <hr>

            <div class="form-group">
              <label class="control-label">Privacy policy</label>
              <p class="text-smaller">Does the client consent to privacy policy?</p>
              <%= f.input :accepted_privacy_policy, as: :radio_buttons, label: false, collection: [['No response', ''], ['Accepted', true], ['Rejected', false]], item_wrapper_tag: false, item_label_class: 'radio-inline' %>
            </div>
          </div>
        </div>

        <div>
          <button class="btn btn-primary" type="submit">Save client</button>
          <a href="<%= patients_path %>" class="btn btn-white">Cancel</a>
        </div>
      <% end %>

    </div>
  </div>

  <div class="panel panel-default hide">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#panel-collapse-1">Toogle</a>
      </h4>
    </div>
    <div class="panel-collapse collapse" id="panel-collapse-1">
      <div class="panel-body">
        panel-collapse-1
      </div>
    </div>
  </div>
</section>

<% content_for :page_js do %>
  <script>
    (function () {
      // Bind Google autocomplete
      var autocomplete;

      function locationSelected() {
        var place = autocomplete.getPlace();

        var componentForm = {
          street_number: 'patient_address1',
          subpremise: 'patient_address1',
          locality: 'patient_city',
          administrative_area_level_1: 'patient_state',
          postal_code: 'patient_postcode',
          country: 'patient_country',
          postal_town: 'patient_city'
        };

        if (place.address_components) {
          $.each(componentForm, function (index, element) {
            $('#' + element).val('');
          });
          $.each(place.address_components, function (index, item) {
            if (componentForm[item.types[0]]) {
              $inputElement = $('#' + componentForm[item.types[0]]);
              if (item.types[0] == 'subpremise') {
                $($inputElement).val(item.short_name + '/')
              } else {
                $($inputElement).val($inputElement.val() + item.short_name)
              }
            }

            if (item.types[0] == 'country') {
              $('#patient_country').val(item.short_name);
            }

            if (item.types[0] == 'route') {
              $('#patient_address1').val($('#patient_address1').val() + ' ' + item.short_name);
            }
          });
        }
      };
      autocomplete = new google.maps.places.Autocomplete($('#patient_address1')[0], autocompleteDefaultOptions);

      autocomplete.addListener('place_changed', locationSelected);

      // Associate contacts tagging
      const $inputsWrap = $('#js-contact-tags-wrap');
      var contactSelectizies = [];

      /* Add new contact just created to all inputs */
      var addNewContactOption = function(contact) {
        for (var i = contactSelectizies.length - 1; i >= 0; i--) {
          contactSelectizies[i].addOption(contact);
        }
      };

      $('.js-input-contact-tags').each(function() {
        var $this = $(this);
        var selectize = $this.selectize({
          plugins: ['remove_button', 'no_results'],
          options: [],
          valueField: 'id',
          addPrecedence: false,
          labelField: 'business_name',
          searchField: ['business_name', 'full_name'],
          load: function(query, callback) {
            if (!query.length) return callback();
            var self = this;

            $.get(
              '/api/contacts/search?s=' + query,
              function(res) {
                if (res.contacts.length > 0) {
                  callback(res.contacts);
                } else {
                  self.$empty_results_container.show();
                }
              }
            );
          },
          create: function(input, callback) {
            if (confirm('Are you sure to create "' + input + '" as a NEW contact?')) {
              $.ajax({
                method: 'POST',
                data: { contact: { business_name: input } },
                url: '<%= contacts_path(format: :json) %>',
                dataType: 'json',
                beforeSend: function() {
                  $inputsWrap.loadingOn();
                },
                success: function(res) {
                  callback(res.contact);
                  addNewContactOption(res.contact);
                  Flash.success('The new contact has been successfully created.');
                },
                error: function(xhr) {
                  var errorMsg = 'An error has occurred. Sorry for the inconvenience.';

                  if (xhr.status === 422 && xhr.responseJSON && xhr.responseJSON.errors) {

                    var validationErrors = xhr.responseJSON.errors
                    errorMsg = 'Validation errors:';
                    for (var i = validationErrors.length - 1; i >= 0; i--) {
                      errorMsg += '<br>' + validationErrors[i];
                    }
                  }

                  if (xhr.status === 403) {
                    errorMsg = 'You don\'t have permission to create new contact';
                  }

                  Flash.error(errorMsg);
                },
                complete: function() {
                  $inputsWrap.loadingOff();
                }
              });
            } else {
              callback();
            }
          }
        })[0].selectize;

        contactSelectizies.push(selectize);
      });

    })();
  </script>
<% end %>
