<section class="box-header">
  <h1><%= @patient.full_name %>'s payments</h1>
</section>

<div class="patient-page">
  <div class="clearfix patient-content">
    <div class="col-lg-2 col-md-3 col-sm-3 content-sidenav">
      <%= render 'patient_sidebar' %>
    </div>
    <div class="col-lg-10 col-md-9 col-sm-9 col-xs-15 bdr-lft box-primary">
      <div class="box-table">
        <table class="table-flat">
          <thead>
            <tr>
              <th>Invoice</th>
              <th>Amount</th>
              <th>Payment date</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @payments.each do |payment| %>
              <tr>
                <td>
                  <% if payment.invoice %>
                    <a href="<%= invoice_path(payment.invoice) %>">#<%= payment.invoice.invoice_number %></a>
                  <% else %>
                  <span>-</span>
                  <% end %>
                </td>
                <td><%= payment.amount %></td>
                <td><%= payment.payment_date.try(:strftime, '%B %d, %Y') %></td>
                <td>
                  <a href="<%= payment_path(payment) %>" title="Show" class="btn btn-link">
                    <i class="fa fa-eye"></i>
                  </a>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="row">
          <div class="col-md-6 text-left">
            <%= page_entries_info @payments %>
          </div>
          <div class="col-md-6 text-right">
            <%= paginate @payments %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
