<%
  business_p = BusinessPresenter.new(business)
%>
<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <title>Treatment Notes</title>
    <%= wicked_pdf_stylesheet_link_tag "pdf/treatment-note" -%>
  </head>

  <body>
    <div class="header">
        <div class="row">
            <div class="col-xs-7">
                <div class="box-info">
                    <span class="business-name"><%= business.name %></span>
                    <br>
                    <%= business.short_address %><br>
                    <%= business.phone %><br>
                    <% if business.abn.present? %>
                        ABN: <%= business.abn %><br>
                    <% end %>
                </div>
            </div>
            <div class="col-xs-5">
                <div class="box-logo">
                    <% if business.avatar.exists? %>
                        <img src="<%= business_p.logo_url %>" class="logo">
                    <% end %>
                </div>
            </div>
        </div>
    </div>

    <div class="box-title">
      <h3>Treatment notes</h3>
      <%= Date.current.strftime(t('date.common')) %> <br>
    </div>

    <table class="table table-bordered">
      <tbody>
        <tr>
          <td>
            <strong>CLIENT</strong><br>
            <%= patient.full_name %> <br>
            DOB: <%= patient.dob&.strftime(t('date.dob')) %> <br>
            <%= patient.short_address %>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="section-report">
      <div class="report-content">
        <div class="report-body clearfix">
          <div class="row list-treatments">
            <div class="col-lg-8 col-md-7 pad-bottom-50">
              <% treatment_notes.each do |treatment| %>
                <%
                  appt = treatment.appointment
                  display_timezone =
                    if appt
                      appt.practitioner.user_timezone
                    elsif treatment.author
                      treatment.author.timezone
                    else
                      'UTC'
                    end
                %>
                <div class="box-item shadow_blk">
                  <div class="clearfix head">
                    <div class="pull-left ml-12">
                      <div>Author: <% if treatment.author %> <%= treatment.author.full_name %> <% else %> <%= treatment.author_name %> <% end %> </div>
                      <div>Status: <%= treatment.status == Treatment::STATUS_FINAL ? "FINAL" : "DRAFT" %></div>
                      <% if appt %>
                        <div>Appointment: <%= appt.start_time.in_time_zone(display_timezone).strftime(t('date.common')) %></div>
                      <% end %>
                      <div>Created: <%= treatment.created_at.in_time_zone(display_timezone).strftime(t('date.common')) %></div>
                    </div>
                  </div>

                  <% treatment.sections.each do |section| %>
                    <h4 class="section-heading"><%= section[:name] %></h4>
                    <% next if section[:questions].blank? %>
                    <% section[:questions].each do |question| %>
                      <% if question[:answer].present? || (question[:answers].present?) %>
                        <% # Only show if question has answer %>

                        <% if question[:type] == 'Checkboxes' %>
                          <% if question[:answers].any? { |answer| answer[:selected] == '1' } %>
                            <div class="block">
                              <% if question[:name].present? %>
                                <strong><%= question[:name] %></strong>
                              <% end %>
                              <% question[:answers].each do |answer| %>
                                <% next if answer[:selected] != '1' %>
                                <div class="check-box">
                                  <input type="checkbox" checked>
                                  <label><%= answer[:content] %></label>
                                </div>
                              <% end %>
                            </div>
                          <% end %>

                        <% elsif question[:type] == 'Radiobuttons' %>
                          <% if question[:answers].any? { |answer| answer[:selected] == '1' } %>
                            <div class="block">
                              <% if question[:name].present? %>
                                <strong><%= question[:name] %></strong>
                              <% end %>
                              <% question[:answers].each do |answer| %>
                                <% next if answer[:selected] != '1' %>
                                <div>
                                  <input type="radio" checked readonly="true">
                                  <label><%= answer[:content] %></label>
                                </div>
                              <% end %>
                            </div>
                          <% end %>

                        <% elsif question[:type] == 'Text' %>
                          <% if question[:answer].try(:[], :content).present? %>
                            <div class="block">
                              <strong><%= question[:name] %></strong>
                              <p><%= question[:answer][:content] %></p>
                            </div>
                          <% end %>

                        <% elsif question[:type] == 'Paragraph' %>
                          <% if question[:answer].try(:[], :content).present? %>
                            <div class="block">
                              <strong><%= question[:name] %></strong>
                              <p><%= simple_format question[:answer][:content] %></p>
                            </div>
                          <% end %>

                        <% elsif question[:type] == 'Integer' %>
                          <% if question[:answer].try(:[], :content).present? %>
                            <div class="block">
                              <strong><%= question[:name] %></strong>
                              <p><%= question[:answer][:content] %></p>
                            </div>
                          <% end %>

                        <% elsif question[:type] == 'Multiselect' %>
                          <% if question[:answers].any? { |answer| answer[:selected] == '1' } %>
                            <div class="block">
                              <% if question[:name].present? %>
                                <strong><%= question[:name] %></strong>
                              <% end %>
                              <ul style="padding-left: 15px">
                              <% question[:answers].each do |answer| %>
                                <% next if answer[:selected] != '1' %>
                                <li><%= answer[:content] %></li>
                              <% end %>
                              </ul>
                            </div>
                          <% end %>

                        <% end %>

                      <% end %>
                    <% end %>
                  <% end %>

                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
