<% content_for :title, 'Account statement' %>

<%= render 'contacts/show_layout' do %>
  <h4>Account statement</h4>

  <div class="panel panel-default">
    <div class="panel-body">
      <form action="<%= contact_account_statements_path(@contact) %>">
        <div class="row">
          <div class="col-md-2">
            <div class="form-group">
              <label>Start date:</label>
              <input name="start_date"
                class="form-control flatpickr-datepicker"
                value="<%= @statement_filter.start_date.strftime('%Y-%m-%d') %>"
                data-alt-format="d M Y"
                data-date-format="Y-m-d">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label>End date:</label>
              <input name="end_date"
                class="form-control flatpickr-datepicker"
                value="<%= @statement_filter.end_date.strftime('%Y-%m-%d') %>"
                data-alt-format="d M Y"
                data-date-format="Y-m-d">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label>Client:</label>
              <%= select_tag :patient_id, options_from_collection_for_select(@contact.patients.select(:id, :first_name, :last_name, :full_name).to_a.uniq, :id, :full_name, @statement_filter.patient_id),
                {  placeholder: "Select client", include_blank: "All", class: 'form-control' } %>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label>Invoice status:</label>
              <select name="invoice_status" class="form-control">
                <option value="">All</option>
                <%= options_for_select(["Paid", "Outstanding"], @statement_filter.invoice_status) %>
              </select>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label>Statement type:</label>
              <select name="type" class="form-control">
                <%= options_for_select([['Activity Statement', 'Activity'], ['Account Statement', 'Account'], ['Super Account Statement', 'Super']], @statement_filter.type) %>
              </select>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label>&nbsp;</label><br>
              <button class="btn btn-primary">Report</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="section-report">
    <div class="clearfix text-right mb-15">
      <a href="<%= publish_contact_account_statements_path(@contact, @statement_filter.to_h) %>"
        class="btn btn-white"
        data-method="POST"
        data-confirm="Are you sure you want to publish this statement? Note: longer reports can take several minutes to generate. We thank you for your patience.">Publish account statement
      </a>
    </div>

    <div class="report-content">
      <div class="report-head">
        <h3>Tax Invoice</h3>
        <h4><%= @contact.business_name %></h4>
        <div>
          <%= @statement_filter.start_date.strftime("%d/%b/%Y") %> -
          <%= @statement_filter.end_date.strftime("%d/%b/%Y") %>
        </div>
      </div>
      <div class="report-body clearfix">
        <div class="row">
          <div class="col-md-6">
            <h3 class="invoice-headings">Account Information</h3>
            <div class="box-table" style="border: 1px solid #eee;">
              <table style="width: 100%">
                <tr>
                  <td>
                    <div class="block-info">
                      <strong>Name:</strong>
                      <p><%= @contact.full_name %>&nbsp;</p>
                    </div>
                  </td>
                  <td>
                    <div class="block-info">
                      <strong>Email:</strong>
                      <p><%= @contact.email %>&nbsp;</p>
                    </div>
                  </td>
                  <td>
                    <div class="block-info">
                      <strong>Phone:</strong>
                      <p><%= @contact.phone %>&nbsp;</p>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td colspan="3">
                    <div class="block-info">
                      <strong>Address:</strong>
                      <p><%= @contact.full_address %>&nbsp;</p>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="col-md-6">
            <h3 class="invoice-headings">Business</h3>
            <div class="box-table" style="border: 1px solid #eee;">
              <table style="width: 100%">
                <tr>
                  <td>
                    <div class="block-info">
                      <strong>Name:</strong>
                      <p><%= current_business.name %>&nbsp;</p>
                    </div>
                  </td>
                  <td>
                    <div class="block-info">
                      <strong>ABN:</strong>
                      <p><%= current_business.abn %>&nbsp;</p>
                    </div>
                  </td>
                  <td>
                    <div class="block-info">
                      <strong>Phone</strong>
                      <p><%= current_business.phone %>&nbsp;</p>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td colspan="3">
                    <div class="block-info">
                      <strong>Address:</strong>
                      <p><%= current_business.full_address %>&nbsp;</p>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <h3 class="invoice-headings">Client<%= 's' if @patients.size > 1 %></h3>
        <div class="box-table" style="border: 1px solid #eee;">
          <table class="table-flat align-top">
            <thead>
              <tr>
                <th>Name</th>
                <th>DOB</th>
                <th>Address</th>
                <th>IDs</th>
              </tr>
            </thead>
            <tbody>
              <% @patients.each do |patient| %>
                <tr>
                  <td>
                    <a href="<%= patient_path(patient) %>"><%= patient.full_name %></a>
                  </td>
                  <td>
                    <%= patient.dob.try(:strftime, t('date.dob')) %>
                  </td>
                  <td>
                    <%= patient.short_address %>
                  </td>
                  <td>
                    <%= patient.id_numbers.where(contact_id: @contact.id).pluck(:id_number).join(', ') %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <h3 class="invoice-headings">Invoices</h3>
        <div class="box-table" style="border: 1px solid #eee;">
          <table class="table-flat align-top">
            <thead>
              <tr>
                <th>ID</th>
                <th>Issue date</th>
                <th>Service date</th>
                <th>Client</th>
                <th>Practitioner</th>
                <th>Billable items</th>
                <th>Amount</th>
                <th>Outstanding</th>
              </tr>
            </thead>

            <tbody>
              <% @invoices.each do |invoice| %>
                <tr>
                  <td>
                    <a href="<%= invoice_path(invoice) %>" target="_blank">
                      #<%= invoice.invoice_number %>
                    </a>
                  </td>
                  <td>
                    <%= invoice.issue_date.strftime('%d %b %Y') %>
                  </td>
                  <td>
                    <% if invoice.appointment %>
                      <%= invoice.appointment.start_time.strftime('%d %b %Y') %>
                    <% end %>
                  </td>
                  <td>
                    <%= invoice.patient.try(:full_name) %>
                  </td>
                  <td>
                    <% if invoice.appointment %>
                      <%= invoice.practitioner.full_name %>
                      <span class="help-text">
                        <%= "##{invoice.provider_number.presence || invoice.practitioner.medicare }" %>
                      </span>
                    <% end %>
                  </td>
                  <td style="vertical-align: top;">
                    <% invoice.items.each do |item| %>
                      <span class="help-text">
                        [<%= item.item_number %>] <%= item.unit_name %>
                      </span>
                    <% end %>
                  </td>
                  <td style="vertical-align: top;">
                    <% if invoice.items.count > 1 %>
                      <% invoice.items.each do |item| %>
                        <div class="help-text">
                          <%= format_money item.unit_price %>
                        </div>
                      <% end %>
                    <% end %>
                    <div class="help-text">
                      <strong><%= format_money invoice.amount %></strong>
                    </div>
                  </td>
                  <td>
                    <% if invoice.outstanding > 0 %>
                      <div class="help-text">
                        <strong><%= format_money invoice.outstanding %></strong>
                      </div>
                    <% else %>
                      <span class="label label-success">Paid</span>
                    <% end %>
                  </td>
                </tr>
              <% end %>
              <% if @invoices.present? %>
                <tr>
                  <td colspan="6"></td>
                  <td>
                    <div class="help-text">
                      <strong><% if current_business.country == App::COUNTRY_AUSTRALIA %> GST: <% else %> Tax: <% end %></strong>
                    </td>
                  <td>
                    <div class="help-text">
                      <strong><%= format_money @invoices.map{|invoice| invoice.tax_amount}.sum %></strong>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td colspan="6"></td>
                  <td><strong>Total:</strong></td>
                  <td>
                    <div class="help-text">
                      <strong><%= format_money @invoices.sum(:outstanding) %></strong>
                    </div>
                  </td>
                </tr>
              <% else %>
                <tr>
                  <td colspan="8">Not found any invoices</td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <h3 class="invoice-headings">Payments</h3>
        <div class="box-table" style="border: 1px solid #eee;">
          <table class="table-flat">
            <thead>
              <tr>
                <th style="width: 100px">Payment date</th>
                <th style="width: 400px">Invoice(s)</th>
                <th>Details</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <% @payments.each do |payment| %>
              <tr>
                <td><%= payment.payment_date.try(:strftime, '%d %b %Y') %></td>
                <td>
                  <% if payment.payment_allocations.size > 0 %>
                    <% payment.payment_allocations.each do |pa| %>
                      <% invoice = pa.invoice %>
                      <% next if invoice.nil? %>
                      <a href="<%= invoice_path(invoice) %>" target="_blank">
                        #<%= invoice.invoice_number %>
                      </a>
                    <% end %>
                  <% else %>
                    <span>-</span>
                  <% end %>
                </td>
                <td>
                  <% if payment.hicaps.to_f > 0 %>
                  <div class="block-info inline">
                  <strong>Hicaps:</strong> <%= format_money payment.hicaps %>
                  </div>
                  <% end %>
                  <% if payment.cash.to_f > 0 %>
                  <div class="block-info inline">
                    <strong>Cash:</strong>
                    <p><%= format_money payment.cash %></p>
                  </div>
                  <% end %>
                  <% if payment.eftpos.to_f > 0 %>
                  <div class="block-info inline">
                    <strong>Eftpos:</strong>
                    <p><%= format_money payment.eftpos %></p>
                  </div>
                  <% end %>
                  <% if payment.medicare.to_f > 0 %>
                  <div class="block-info inline">
                    <strong>Medicare:</strong>
                    <p><%= format_money payment.medicare %></p>
                  </div>
                  <% end %>
                  <% if payment.workcover.to_f > 0 %>
                  <div class="block-info inline">
                    <strong>Workcover:</strong>
                    <p><%= format_money payment.workcover %></p>
                  </div>
                  <% end %>
                  <% if payment.dva.to_f > 0 %>
                  <div class="block-info inline">
                    <strong>DVA:</strong>
                    <p><%= format_money payment.dva %></p>
                  </div>
                  <% end %>
                  <% if payment.stripe_charge_id? %>
                  <div class="block-info inline">
                    <strong>Stripe:</strong>
                    <p><%= format_money payment.stripe_charge_amount %></p>
                  </div>
                  <% end %>
                  <% if payment.direct_deposit? && payment.direct_deposit > 0 %>
                    <div class="block-info inline">
                      <strong>Direct deposit:</strong>
                      <p><%= format_money payment.direct_deposit %></p>
                    </div>
                  <% end %>
                  <% if payment.cheque? && payment.cheque > 0 %>
                    <div class="block-info inline">
                      <strong>Cheque:</strong>
                      <p><%= format_money payment.cheque %></p>
                    </div>
                  <% end %>
                  <% if payment.other.to_f > 0 %>
                  <div class="block-info inline">
                    <strong>Other:</strong>
                    <p><%= format_money payment.other %></p>
                  </div>
                  <% end %>
                </td>
                <td><%= format_money payment.amount %></td>
              </tr>
              <% end %>
              <% if @payments.present? %>
                <tr>
                  <td colspan="2"></td>
                  <td><strong>Total:</strong></td>
                  <td>
                    <strong><%= format_money @payments.sum(&:amount) %></strong>
                  </td>
                </tr>
              <% else %>
                <tr>
                  <td colspan="5">Not found any payments</td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <div class="row">
          <div class="col-md-12">
            <h3 class="invoice-headings">Summary</h3>
            <div class="box-table" style="border: 1px solid #eee;">
              <table style="width: 100%">
                <tr>
                  <td style="width: 200px">
                    <div class="block-info">
                      <strong>Total amount:</strong>
                      <p><%= format_money @invoices.sum(:amount) %></p>
                    </div>
                  </td>
                  <td style="width: 200px">
                    <div class="block-info">
                      <strong><% if current_business.country == App::COUNTRY_AUSTRALIA %> GST: <% else %> Tax: <% end %></strong>
                      <p><%= format_money @invoices.sum(&:tax_amount)%></p>
                    </div>
                  </td>
                  <td colspan="<%= @statement.present? ? 1 : 2 %>">
                    <div class="block-info">
                      <strong>Total outstanding:</strong>
                      <p><%= format_money @invoices.sum(:outstanding) %>&nbsp;</p>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <h3 class="invoice-headings">Bank Details</h3>
            <div class="box-table" style="border: 1px solid #eee;">
              <table style="width: 100%">
                <tr>
                  <td style="width: 200px">
                    <div class="block-info">
                      <strong>Name:</strong>
                      <p><%= current_business.bank_account_name %>&nbsp;</p>
                    </div>
                  </td>
                  <td style="width: 200px">
                    <div class="block-info">
                      <strong>BSB:</strong>
                      <p><%= current_business.bank_branch_number %>&nbsp;</p>
                    </div>
                  </td>
                  <td colspan="">
                    <div class="block-info">
                      <strong>Account:</strong>
                      <p><%= current_business.bank_account_number %>&nbsp;</p>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Super account statement -->
  <% if @statement_filter.type == 'Super' %>
    <% @patients.each_with_index do |patient, idx| %>
      <%
        p_invoices = @invoices.select do |inv|
          inv.patient_id == patient.id
        end

        p_payments = @payments.select do |payment|
          payment.patient_id == patient.id
        end
      %>
      <div class="page-break"></div>
      <%=
        render(
          'contact_account_statements/super/single_patient',
          statement_filter: @statement_filter,
          business: current_business,
          contact: @contact,
          patient: patient,
          invoices: p_invoices,
          payments: p_payments
        )
      %>
    <% end %>
  <% end %>
<% end %>
