<%= render 'patients/show_layout' do %>
  <h4>Messages</h4>

  <div class="panel panel-default">
    <div class="panel-body">
      <%= search_form_for @search_query, url: patient_communications_path(@patient), enforce_utf8: false do |f| %>
        <div class="row">
          <div class="col-md-3">
            <%= f.select :category_eq, communication_category_options_for_select, { include_blank: 'All category' }, { class: 'form-control' } %>
          </div>
          <div class="col-md-2">
            <%= f.select :message_type_eq, ['Email', 'SMS'], { include_blank: 'All method' }, { class: 'form-control' } %>
          </div>

          <div class="col-md-1">
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
        </div>
      <% end %>

      <div class="table-responsive mt-20">
        <table class="table">
          <thead>
            <tr>
              <th style="width: 170px">Date</th>
              <th style="width: 210px">Category</th>
              <th style="width: 100px">Method</th>
              <th>Direction</th>
              <th style="width: 150px">
                <span
                  data-toggle="popover"
                  data-html="true"
                  data-trigger="hover" title="Message delivery status"
                  data-content="- <b>Scheduled</b>: The message is scheduled to be sent.<br/><br/>- <b>Processed</b>: The message has been sent to 3rd service provider. Delivery status is not yet confirmed.<br/><br/>- <b> Delivered</b>: The message has been confirmed as received by the recipient.<br/><br/>- <b>Error</b>: The message is not delivered for some reason.<br/><br/>- <b>Untracked, N/A</b>: The delivery status is not tracking."
                  >Status</span>
              </th>
              <th style="width: 220px">Links</th>
              <th class="text-right"></th>
            </tr>
          </thead>
          <tbody>
            <% @communications.each do |communication| %>
            <tr>
              <td><%= communication.created_at.strftime(t('datetime.common')) %></td>
              <td>
                <% if communication.category.present? %>
                  <%= t("communication.categories.#{communication.category}") %>
                <% end %>
              </td>

              <td><%= communication.message_type %></td>
              <td><%= communication.direction %></td>

              <td>
                <% if communication.delivery %>
                  <% delivery = communication.delivery %>
                  <span
                    <% if delivery.status_error? %>
                      class="text-danger"
                      data-toggle="popover"
                      data-html="true"
                      data-trigger="hover"
                      title="Delivery info"
                      data-content="
                        <b>Recipient</b>: <%= delivery.recipient %><br/>
                        <b>Status</b>: <%= delivery.status.try(:titleize) %><br/>
                        <b>Error type</b>: <%= delivery.error_type.try(:titleize) %>
                        "
                    <% end %>
                    >
                    <%= delivery.status.titleize %>
                  </span>
                <% else %>
                  <span class="text-muted" title="Not available">N/A</span>
                <% end %>
              </td>

              <td>
                <% if communication.source %>
                  <%= link_to_communication_source(communication.source) %>
                  <% if communication.source.is_a?(Invoice) && communication.source.paid? %>
                    <small><span class="label label-success">Paid</span></small>
                  <% end %>
                <% end %>
              </td>

              <td class="text-center">
                <a href="<%= patient_communication_path(@patient, communication) %>" class="btn btn-white">Details</a>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="row mt-20">
        <div class="col-md-6 text-xs-center">
          <%= page_entries_info @communications, entry_name: 'messages' %>
        </div>

        <div class="col-md-6 text-right text-xs-center mt-xs-5">
          <%= paginate @communications, theme: 'app' %>
        </div>
      </div>

    </div>
  </div>
<% end %>
