<%= render 'patients/show_layout' do %>
  <h4>Message details</h4>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4 col-xs-12">
          <div class="block-info">
            <strong>Category:</strong>
            <p>
              <% if @communication.category.present? %>
                <%= t("communication.categories.#{@communication.category}") %>
              <% end %>
            </p>
          </div>

          <div class="block-info">
            <strong>Method:</strong>
            <p><%= @communication.message_type %></p>
          </div>

          <div class="block-info">
            <strong>Links:</strong>
            <p>
              <% if @communication.source %>
                <%= link_to_communication_source(@communication.source) %>
                <% if @communication.source.is_a?(Invoice) && @communication.source.paid? %>
                  <small><span class="label label-success">Paid</span></small>
                <% end %>
              <% else %>
                <span class="text-muted">-</span>
              <% end %>
            </p>
          </div>

          <% if @communication.recipient.is_a?(Contact) %>
            <div class="block-info">
              <strong>Send to:</strong>
              <p>
                <a href="<%= contact_path(@communication.recipient) %>"><%= @communication.recipient.business_name %></a>
              </p>
            </div>
          <% end %>

          <div class="block-info">
            <strong>Sent at:</strong>
            <p><%= @communication.created_at.strftime(t('datetime.common')) %></p>
          </div>

          <div class="block-info">
            <strong>Delivery status:</strong>
            <p>
              <% if @communication.delivery %>
                <% delivery = @communication.delivery %>

                <b>Status</b>: <span class="<%= communication_delivery_status_text_color_class delivery.status %>"><%= delivery.status.titleize %></span> <br>
                <b>Recipient</b>: <%= delivery.recipient %><br/>

                <% if delivery.status_error? %>
                  <b>Error type</b>: <%= delivery.error_type.try(:titleize) %>

                  <% if delivery.error_message.present? %>
                  <br/><b>Error message</b>: <%= sanitize delivery.error_message %>
                  <% end %>
                <% end %>

              <% else %>
                <span class="text-muted" title="Not available or untracked">N/A</span>
              <% end %>
            </p>
          </div>

        </div>

        <div class="col-md-8 col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading"><strong>Content</strong></div>
            <div class="panel-body">
              <% if @communication.message.present? %>
                <%= sanitize @communication.message, scrubber: Letter::Scrubber.new %>
              <% else %>
                <span class="text-muted">N/A</span>
              <% end %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
<% end %>
