<section class="box-header">
  <div class="row">
    <div class="col-xs-6">
      <h1>Businesses</h1>
    </div>
  </div>
</section>

<section class="breadcrumb">
  <ul>
    <li>
      <a href="<%= admin_settings_path %>">Settings</a>
    </li>
    <li class="active">Businesses</li>
  </ul>
</section>

<section class="search_box">
  <%= search_form_for @search_query, url: admin_marketplace_businesses_path, enforce_utf8: false, class: 'form-filter form-filter-patients' do |f| %>
    <div class="row">
      <div class="col-sm-8">
        <%= f.search_field :name_or_email_cont, class: 'form-control', placeholder: 'Enter name or email' %>
      </div>

      <div class="col-sm-4">
        <br class="visible-xs">
        <button type="submit" class="btn btn-primary sitebtn"><i class="fa fa-search"></i>Search</button>
        <a href="<%= admin_marketplace_businesses_path %>" class="btn linebtn">Clear</a>
      </div>
    </div>
  <% end %>
</section>

<section class="content">
  <div class="box-table">
    <table class="table-flat">
      <thead>
        <tr>
          <th>Name</th>
          <th>Phone</th>
          <th>Created date</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @businesses.each do |business| %>
          <tr>
            <td>
              <a href="<%= admin_marketplace_business_path(business) %>"><%= business.name %></a>
            </td>
            <td><%= business.phone %></td>
            <td><%= business.created_at.strftime('%b %d, %Y') %></td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-success btn-sm btn-flat dropdown-toggle" data-toggle="dropdown">
                  Action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li>
                    <a href="<%= admin_marketplace_business_path(business) %>">
                      <i class="fa fa-eye"></i> Show
                    </a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="row">
      <div class="col-md-6 text-left">
        <%= page_entries_info @businesses %>
      </div>
      <div class="col-md-6 text-right">
        <%= paginate @businesses %>
      </div>
    </div>
  </div>
</section>
