<section class="box-header">
  <div class="row">
    <div class="col-xs-6">
      <h1><%= @business.name %></h1>
    </div>
  </div>
</section>

<section class="breadcrumb">
  <ul>
    <li>
      <a href="<%= admin_settings_path %>">Settings</a>
    </li>
    <li>
      <a href="<%= admin_marketplace_businesses_path %>">Businesses</a>
    </li>
    <li><%= @business.name %></li>
  </ul>
</section>

<section class="content">
  <h3>General info</h3>
  <div class="box">
    <p>
      <strong>Business logo:</strong>
      <% if @business.avatar.exists? %>
        <img src="<%= @business.avatar.url(:thumb) %>">
      <% else %>
        N/A
      <% end %>
    </p>
    <div class="block-info">
      <strong>Name:</strong>
      <p><%= @business.name %></p>
    </div>

    <div class="block-info">
      <strong>ABN:</strong>
      <p><%= @business.abn %></p>
    </div>
  </div>

  <h3>Contact info</h3>
  <div class="box">
      <% attrs = %w(phone mobile website fax email)%>
      <% attrs.each do |attr| %>
        <div class="block-info">
          <strong><%= attr.titleize %>:</strong>
          <p><%= @business.send(attr.to_sym) %></p>
        </div>
      <% end %>
  </div>

  <h3>Address & location</h3>
  <div class="box">
    <% attrs = %w(address1 address2 city state postcode country) %>
    <% attrs.each do |attr| %>
      <div class="block-info">
        <strong><%= attr.titleize %>:</strong>
        <p><%= @business.send(attr.to_sym) %></p>
      </div>
    <% end %>
  </div>

  <% if @business.practitioners.present? %>
  <h3>Practitioners</h3>
  <div class="box">
    <% @business.practitioners.each do |pract| %>
      <div class="block-info">
        <p>
          <a href="<%= admin_marketplace_practitioner_path(pract) %>"><%= pract.full_name %></a>
        </p>
      </div>
    <% end %>
  </div>
  <% end %>

  <h3>Bank details</h3>
  <div class="box">
    <div class="block-info">
      <strong>Name:</strong>
      <p><%= @business.bank_name %></p>
    </div>

    <div class="block-info">
      <strong>BSB:</strong>
      <p><%= @business.bank_branch_number %></p>
    </div>

    <div class="block-info">
      <strong>Account name:</strong>
      <p><%= @business.bank_account_name %></p>
    </div>

    <div class="block-info">
      <strong>Account number:</strong>
      <p><%= @business.bank_account_number %></p>
    </div>
  </div>
</section>
