<% content_for :body_class, 'login-page' %>
<div class="login-box">
  <div class="row">

    <div class="col-sm-6 col-xs-12">
      <img src="<%= asset_pack_path 'static/images/tracksy-logo.jpeg' %>" alt="Tracksy" height="55px">
    </div>
    <div class="col-sm-6 text-right hidden-xs">
      <span style="font-size: 21px">Forgot Password</span>
    </div>
  </div>

  <hr>

  <h3 class="visible-xs">
    Forgot Password
  </h3>

  <div class="login-box-body">

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), wrapper: :vertical_form) do |f| %>
      <%= f.input :email, placeholder: "Enter your email here" %>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <button type="submit" class="btn btn-block sitebtn">Send reset password instruction</button>
          </div>
        </div>
      </div>
      <hr>
    <% end %>

    <div class="row">
      <div class="col-xs-6 text-left"><a href="<%= new_user_session_path %>">Login</a></div>
      <div class="col-xs-6 text-right">
        <a href="<%= frontend_home_path %>" class="normal-link"><i class="fa fa-home"></i> Homepage</a>
      </div>
    </div>
  </div>
</div>
