<section class="box-header">
  <div class="row">
    <div class="col-xs-6">
      <h1>Admin / Seopages</h1>
    </div>
    <div class="col-xs-6 text-right">
      <a href="<%= new_admin_seopage_path %>" class="btn sitebtn"><i class="fa fa-plus"></i> New seopage</a>
    </div>
  </div>
  
</section>

<section class="content">
  <div class="box-table">
    <table class="table-flat">
      <thead>
        <tr>
          <th>Professtion</th>
          <th>Service</th>
          <th>City</th>
          <th>Page Title</th>
          <th>Meta tags</th>
          <th>H1</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @seopages.each do |seopage| %>
          <tr>
            <td><%= link_to seopage.professtion_tag.name, admin_seopage_path(seopage), class: 'btn btn-link' %></td>
            <td><%= link_to seopage.service_tag.name, admin_seopage_path(seopage), class: 'btn btn-link' %></td>
            <td><%= link_to seopage.city_tag.name, admin_seopage_path(seopage), class: 'btn btn-link' %></td>
            <td><%= link_to seopage.page_title, admin_seopage_path(seopage), class: 'btn btn-link' %></td>
            <td><%= link_to seopage.meta_tags, admin_seopage_path(seopage), class: 'btn btn-link' %></td>
            <td><%= link_to seopage.h1, admin_seopage_path(seopage), class: 'btn btn-link' %></td>
            <td>
              <%= link_to 'Show', admin_seopage_path(seopage), class: 'btn btn-link' %>
              <%= link_to 'Edit', edit_admin_seopage_path(seopage), class: 'btn btn-link' %>
              <%= link_to 'Destroy', admin_seopage_path(seopage), class: 'btn btn-link', method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="row">
      <div class="col-md-6 text-left">
        <%= page_entries_info @seopages %>
      </div>
      <div class="col-md-6 text-right">
        <%= paginate @seopages %>
      </div>
    </div>
  </div>
</section>
