<section class="box-header">
  <div class="row">
    <div class="col-xs-6">
      <h1><%= @seopage.page_title %></h1>
    </div>
    <div class="col-xs-6">
      <a href="<%= edit_admin_seopage_path(@seopage) %>" class="btn sitebtn">
        <i class="fa fa-pencil"></i> Edit details
      </a>
    </div>
  </div>
</section>

<section class="content">
  <h3>General info</h3>
  <div class="box">
    <div class="block-info">
      <strong>Professtion: </strong>
      <p><%= @seopage.professtion_tag.name %></p>
    </div>

    <div class="block-info">
      <strong>Service: </strong>
      <p><%= @seopage.service_tag.name %></p>
    </div>

    <div class="block-info">
      <strong>City: </strong>
      <p><%= @seopage.city_tag.name %></p>
    </div>

    <div class="block-info">
      <strong>Page Title: </strong>
      <p><%= @seopage.page_title %></p>
    </div>

    <div class="block-info">
      <strong>Page Description: </strong>
      <p><%= @seopage.page_description %></p>
    </div>

    <div class="block-info">
      <strong>Content: </strong>
      <p><%= @seopage.content %></p>
    </div>

    <div class="block-info">
      <strong>Meta tags: </strong>
      <p><%= @seopage.meta_tags %></p>
    </div>

    <div class="block-info">
      <strong>H1: </strong>
      <p><%= @seopage.h1 %></p>
    </div>

    <div class="block-info">
      <strong>First H3: </strong>
      <p><%= @seopage.h3_one %></p>
    </div>

    <div class="block-info">
      <strong>Second H3: </strong>
      <p><%= @seopage.h3_two %></p>
    </div>

    <div class="block-info">
      <strong>Breadcrumb: </strong>
      <p><%= @seopage.breadcrumb %></p>
    </div>
  </div>
</section>
