<div class="view_container">
  <section class="content-header">
    <h1>
      Search Business
    </h1>
  </section>
  <section class="search_box mt-20">
    <form action="<%= admin_reception_search_business_path %>">
      <div class="row">
        <div class="col-md-9 col-xs-7">
          <input type="text" name="q" class="form-control"
            value="<%= params[:q].try(:strip) %>"
            placeholder="Enter business name, email, city ..."
            autofocus="true">
        </div>
        <div class="col-md-3 pad-lft-none col-xs-5">
          <button type="submit" class="btn sitebtn">
            <i class="fa fa-search"></i> Search
          </button>
        </div>
      </div>
    </form>
  </section>

  <section class="content mt-30">
    <div class="box">
      <div class="box-body">
        <div class="box-table">
          <table class="table-flat">
            <thead>
              <th>Business</th>
              <th>Email</th>
              <th>Phone/Mobile</th>
              <th colspan="2">Address</th>
            </thead>
            <tbody>
              <% @businesses.each do |business| %>
                <tr>
                  <td>
                    <img src="<%= business.avatar(:thumb) %>" style="width: 50px">
                    <strong><%= business.name %></strong>
                  </td>
                  <td>
                    <a href="mailto: <%= business.email %>">
                      <%= business.email %>
                    </a>
                  </td>
                  <td>
                    <% if business.phone? %>
                    <a href="tel: <%= business.phone %>">
                      <%= business.phone %>
                    <% end %>
                    <br>
                    <a href="tel: <%= business.mobile %>">
                      <%= business.mobile %>
                    </a>
                  </td>
                  <td><%= business.full_address %></td>
                  <td>
                  </td>
                </tr>
              <% end %>

              <% if @businesses.size == 0 %>
                <tr>
                  <td colspan="5">
                    No any business found!
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>
