<section>
  <div class="panel panel-default">
    <div class="panel-body">
      <%= form_with model: treatment_template, local: true, id: "js-form-tiptap-editor" do |form| %>
        <%= form.hidden_field :_method, value: treatment_template.new_record? ? 'post' : 'patch' if !treatment_template.new_record? %>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= form.text_field :name, placeholder: 'Template name', class: "form-control", value: treatment_template.name %>
            </div>
          </div>
        </div>

        <div class="tiptap-editor-container">
          <div id="js-tiptap-editor-toolbar" class="tiptap-toolbar"></div>
          <div id="js-tiptap-editor-main" class="tiptap-editor"></div>
          <%= form.hidden_field :content, id: "js-hidden-input-content" %>
          <%= form.hidden_field :html_content, id: "js-hidden-input-html-content" %>
        </div>

        <div class="mt-15">
          <button type="submit" class="btn btn-primary">Save template</button>
          <a href="<%= treatment_templates_path %>" class="btn btn-white">Back to list</a>
        </div>
      <% end %>
</section>

<%= content_for :page_js do %>
  <%= render 'tiptap_editor_js' %>
<% end %>