<% sections.each_with_index do |section, s_idx| %>
  <input type="hidden" name="treatment[sections][][name]" value="<%= section[:name] %>">
  <h4 class="section-heading">
    <%= section[:name] %>
    <div style="font-weight:400; margin-top: 7px;" class="small text-bold">Press @ to show hints</div>
  </h4>
  <% next if section[:questions].blank? %>
  <% section[:questions].each_with_index do |question, q_idx| %>
    <div class="question-wrap">
      <input type="text" class="hide" name="treatment[sections][][questions][][required]" value="<%= question[:required] %>">
      <input type="text" class="hide" name="treatment[sections][][questions][][name]" value="<%= question[:name] %>">
      <input type="hidden" name="treatment[sections][][questions][][type]" value="<%= question[:type] %>">
      <div class="form-group">
        <label>
          <%= question[:name] %>
          <% if question[:required] == '1' %><abbr title="Required">*</abbr><% end %>
        </label>
        <% if question[:type] == 'Text' %>
          <input type="text"
            name="treatment[sections][][questions][][answer][content]"
            class="form-control hintable input-question-answer"
            <% if question[:required] == '1' %>
            required="required"
            data-required="1"
            <% end %>
            value="<%= question[:answer].try(:[], :content) %>"
            />
        <% elsif question[:type] == 'Integer' %>
          <input type="number"
            min="0"
            step="1"
            name="treatment[sections][][questions][][answer][content]"
            class="form-control input-question-answer"
            value="<%= question[:answer].try(:[], :content) %>"
            <% if question[:required] == '1' %>
              required="required"
              data-required="1"
            <% end %>
            />
        <% elsif question[:type] == 'Paragraph' %>
          <textarea
            class="form-control hintable input-question-answer"
            rows="5"
            name="treatment[sections][][questions][][answer][content]"
            autocomplete="off"
            <% if question[:required] == '1' %>
            required="required"
            data-required="1"
            <% end %>
            ><%= question[:answer].try(:[], :content) %></textarea>
        <% elsif question[:type] == 'Checkboxes' %>
          <% if question[:answers] && question[:answers].count > 0 %>
            <% question[:answers].each_with_index do |answer, a_idx| %>
              <div class="answer-wrap">
                <input type="text" class="hide" name="treatment[sections][][questions][][answers][][content]" value="<%= answer[:content] %>">
                <div class="check-box">
                  <input
                    id="cb-<%= [s_idx, q_idx, a_idx].join('-') %>"
                    type="checkbox" <%= 'checked' if answer[:selected] == '1' %>
                    name="treatment[sections][][questions][][answers][][selected]"
                    value="1">
                  <label for="cb-<%= [s_idx, q_idx, a_idx].join('-') %>"><%= answer[:content] %></label>
                </div>
            </div>
            <% end %>
          <% end %>

        <% elsif question[:type] == 'Radiobuttons' %>
          <% if question[:answers] && question[:answers].count > 0 %>
            <% question[:answers].each_with_index do |answer, a_idx| %>
              <div class="answer-wrap">
                <input type="text" name="treatment[sections][][questions][][answers][][content]" class="hide" value="<%= answer[:content] %>">
                <input type="hidden" name="treatment[sections][][questions][][answers][][selected]" class="input-answer-selected"
                <% if answer[:selected] == '1' %>
                  value="1"
                <% else %>
                  disabled="disabled"
                  value="0"
                <% end %>
                >
                <label class="js-label-radio">
                  <input type="radio"
                    <%= 'checked' if answer[:selected] == '1' %>
                    name="rd-<%= [s_idx, q_idx].join('-') %>"
                    class="radio-answer"
                    value="1">
                  <span><%= answer[:content] %></span>
                </label>
              </div>
            <% end %>
          <% end %>

        <% elsif question[:type] == 'Multiselect' %>
          <% if question[:answers] && question[:answers].count > 0 %>
            <% question[:answers].each_with_index do |answer, a_idx| %>
              <div class="answer-wrap">
                <input type="text" class="hide input-answer-content" name="treatment[sections][][questions][][answers][][content]" value="<%= answer[:content] %>">
                <input
                  type="hidden"
                  class="hide cb-answer-selected"
                  name="treatment[sections][][questions][][answers][][selected]"
                  value="<%= answer[:selected] %>"
                  >
              </div>
            <% end %>
          <% end %>

          <select
            class="form-control input-multiselect input-question-answer"
            <% if question[:required] == '1' %> data-required="1" <% end %>
            multiple="true">
          <% if question[:answers] && question[:answers].count > 0 %>
            <% question[:answers].each_with_index do |answer, a_idx| %>
              <option
                value="<%= answer[:content] %>"
                <%= 'selected' if answer[:selected] == '1' %>
                ><%= answer[:content] %></option>
            <% end %>
          <% end %>
          </select>
        <% end %>

      </div>
    </div>
  <% end %>
<% end %>
