<section class="box-header">
  <div class="row">
    <div class="col-xs-6">
      <h1><%= @treatment_template.name %></h1>
    </div>
    <div class="col-xs-6 text-right">
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          Action <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li>
            <a href="<%= edit_treatment_template_path(@treatment_template) %>">
              <i class="fa fa-pencil"></i> Edit template
            </a>
          </li>
          <li>
            <a href="<%= treatment_template_path(@treatment_template) %>"
              data-confirm="Are you sure?" data-method="delete" >
              <i class="fa fa-trash"></i> Delete template
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="breadcrumb">
  <ul>
    <li>
      <a href="<%= settings_path %>"><i class="fa fa-cog"></i> Settings</a>
    </li>
    <li>
      <a href="<%= treatment_templates_path %>">Treatment note templates</a>
    </li>
    <li class="active">Show</li>
  </ul>
</section>

<section class="content">
  <% @treatment_template.template_sections.each do |section| %>
    <h3><%= section[:name] %></h3>
    <div class="box">
      <% section[:questions].each do |question| %>
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <div class="form-group">
              <label><%= question[:name] %></label>
              <% if question[:type] == 'Text' %>
                <input class="input-answer form-control bg-white"
                  disabled="disabled"
                  type="text">

              <% elsif question[:type] == 'Paragraph' %>
                <textarea class="input-answer form-control bg-white textarea-noresize"
                  disabled="disabled"><%= question[:answer].try(:[], :content) %></textarea>

              <% elsif question[:type] == 'Checkboxes' %>
                <% if question[:answers].present? %>
                  <% question[:answers].each do |answer| %>
                    <div class="check-box check-box-readonly">
                      <input type="checkbox" disabled="disabled">
                      <label><%= answer[:content] %></label>
                    </div>
                  <% end %>
                <% end %>

              <% elsif question[:type] == 'Radiobuttons' %>
                <% if question[:answers].present? %>
                  <% question[:answers].each do |answer| %>
                    <div class="check-box check-box-readonly">
                      <input type="radio" disabled="disabled">
                      <label><%= answer[:content] %></label>
                    </div>
                  <% end %>
                <% end %>
              <% elsif question[:type] == 'Multiselect' %>
                <% if question[:answers].present? %>
                  <select class="form-control"
                    multiple="true"
                    readonly="readonly"
                    size="5"
                    style="height: auto">
                    <% question[:answers].each do |answer| %>
                      <option value="<%= answer[:content] %>"><%= answer[:content] %></option>
                    <% end %>
                  </select>
                <% end %>
              <% elsif question[:type] == 'Integer' %>
                <input class="input-answer form-control bg-white"
                  disabled="disabled"
                  type="number">
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

</section>
