<%= render 'patients/show_layout' do %>

  <div class="row">
    <div class="col-xs-6">
      <h4>Cases</h4>
    </div>

    <div class="col-xs-6 text-right">
      <a href="<%= new_patient_case_path(@patient)%>" class="btn btn-primary">
        <i class="fa fa-plus"></i> New case
      </a>
    </div>
  </div>

  <div class="panel panel-default mt-10">
    <div class="panel-body">

      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Number</th>
              <th>Type</th>
              <th style="width: 70px;">Status</th>
              <th>Practitioner</th>
              <th>Issue date</th>
              <th>End date</th>
              <th style="width: 180px;">
                Appointments
              </th>
              <th style="width: 180px;">
                Invoices
              </th>
              <th style="width: 120px;"></th>
            </tr>
          </thead>

          <tbody>
            <% @patient_cases.each do |patient_case| %>
            <tr>
              <td>
                <% if patient_case.case_number %>
                  <a href="<%= patient_case_path(@patient, patient_case) %>"><%= patient_case.case_number %></a>
                <% else %>
                  <span class="text-muted">--</span>
                <% end %>
              </td>
              <td>
                <% if patient_case.case_type %>
                  <%= patient_case.case_type.title %>
                <% else %>
                  <span class="text-muted">--</span>
                <% end %>
              </td>
              <td><%= patient_case.status %></td>
              <td><%= patient_case.practitioner&.full_name %></td>
              <td>
                <%= patient_case.issue_date&.strftime(t('date.common')) %>
              </td>
              <td>
                <%= patient_case.end_date&.strftime(t('date.common')) %>
              </td>

              <td>
                <%= patient_case.appointments.size %>
                <span> / </span>
                <% if patient_case.invoice_number.present? %>
                  <%= patient_case.invoice_number %>
                <% else %>
                  <span class="text-muted" title="No limit">--</span>
                <% end %>
              </td>

              <td>
                <%
                  total_invoiced_amount = patient_case.invoices.sum(&:amount).round(2)
                %>

                <%= format_money total_invoiced_amount %>
                <span> / </span>
                <% if patient_case.invoice_total.present? %>
                  <%= format_money patient_case.invoice_total %>
                <% else %>
                  <span class="text-muted">--</span>
                <% end %>
              </td>

              <td>
                <div class="btn-group">
                  <a href="<%= patient_case_path(@patient, patient_case) %>" class="btn btn-white">Details</a>
                  <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                  <ul class="dropdown-menu dropdown-menu-right custom-dropdown">
                    <li>
                      <a href="<%= edit_patient_case_path(@patient, patient_case) %>" title="edit">Edit</a>
                    </li>
                    <% if patient_case.status_open? %>
                      <li>
                        <a href="#" class="btn-form" data-form-url="<%= discharge_patient_case_path(@patient, patient_case) %>" data-form-method="PUT" data-form-confirmation="Are you sure you want to DISCHARGE this case?"><span class="text-danger">Discharge</span></a>
                      </li>
                    <% else %>
                      <li>
                        <a href="#" class="btn-form" data-form-url="<%= open_patient_case_path(@patient, patient_case) %>" data-form-method="PUT" data-form-confirmation="Are you sure you want to RE-OPEN this case?">Re-open</a>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>


      <div class="row mt-10">
        <div class="col-md-6 text-left">
          <%= page_entries_info @patient_cases, entry_name: 'cases' %>
        </div>
        <div class="col-md-6 text-right">
          <%= paginate @patient_cases, theme: 'app' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
