<% content_for :title, 'Client case details' %>

<%= render 'patients/show_layout' do %>

  <div class="row">
    <div class="col-xs-6">
      <h4>Client case details <% if @patient_case.archived? %><span class="label label-default">Archived</span><% end %></h4>
    </div>

    <div class="text-right col-xs-6">
      <% if @patient_case.archived? %>
        <a href="#" class="btn btn-white btn-form" data-form-url="<%= unarchive_patient_case_path(@patient, @patient_case) %>" data-form-method="PUT" data-form-confirmation="Are you sure you want to UNARCHIVE this case?">Unarchive</a>
      <% else %>
        <div class="btn-group">
          <a href="<%= edit_patient_case_path(@patient,@patient_case) %>" class="btn btn-white">Edit details</a>
          <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
          <ul class="dropdown-menu dropdown-menu-right custom-dropdown">
            <% if @patient_case.status_open? %>
              <li>
                <a href="#" class="btn-form" data-form-url="<%= discharge_patient_case_path(@patient, @patient_case) %>" data-form-method="PUT" data-form-confirmation="Are you sure you want to DISCHARGE this case?"><span class="text-danger">Discharge</span></a>
              </li>
            <% else %>
              <li>
                <a href="#" class="btn-form" data-form-url="<%= open_patient_case_path(@patient, @patient_case) %>" data-form-method="PUT" data-form-confirmation="Are you sure you want to RE-OPEN this case?">Re-open</a>
              </li>
            <% end %>

            <li>
              <a href="#" class="btn-form" data-form-url="<%= archive_patient_case_path(@patient, @patient_case) %>" data-form-method="PUT" data-form-confirmation="Are you sure you want to ARCHIVE this case?">Archive</a>
            </li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row mt-10">
    <div class="col-md-6 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Details</strong>
        </div>

        <div class="panel-body">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td style="width: 180px">Number:</td>
                <td>
                  <% if @patient_case.case_number? %>
                    <%= @patient_case.case_number %>
                  <% else %>
                    <span class="text-muted">--</span>
                  <% end %>
                </td>
              </tr>

              <tr>
                <td>Status:</td>
                <td><strong><%= @patient_case.status.upcase %></strong></td>
              </tr>

              <tr>
                <td>Issue date:</td>
                <td>
                  <% if @patient_case.issue_date? %>
                    <%= @patient_case.issue_date.strftime(t('date.common')) %>
                  <% else %>
                    <span class="text-muted">--</span>
                  <% end %>
                </td>
              </tr>

              <tr>
                <td>End date:</td>
                <td>
                  <% if @patient_case.end_date? %>
                    <%= @patient_case.end_date.strftime(t('date.common')) %>
                  <% else %>
                    <span class="text-muted">--</span>
                  <% end %>
                </td>
              </tr>

              <tr>
                <td>Practitioner:</td>
                <td>
                  <% if @patient_case.practitioner.present? %>
                    <%= @patient_case.practitioner.full_name %>
                  <% else %>
                    <span class="text-muted">--</span>
                  <% end %>
                </td>
              </tr>

              <tr>
                <td>Case type:</td>
                <td><%= @patient_case.case_type&.title %></td>
              </tr>

              <tr>
                <td>Notes:</td>
                <td>
                  <% if @patient_case.notes.present? %>
                    <%= simple_format @patient_case.notes %>
                  <% else %>
                    <span class="text-muted">--</span>
                  <% end %>
                </td>
              </tr>

              <tr>
                <td style="width: 180px">Created:</td>
                <td>
                  <%= @patient_case.created_at.strftime(t('date.common')) %>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>

    <%
      total_invoiced_amount = @patient_case.invoices.sum(&:amount).round(2)
    %>
    <div class="col-md-6 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Allocation</strong>
        </div>

        <div class="panel-body">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td>Appointments</td>
                <td>
                  <%= @patient_case.appointments.size %>
                  <span> / </span>
                  <% if @patient_case.invoice_number.present? %>
                    <%= @patient_case.invoice_number %>
                  <% else %>
                    <span class="text-muted" title="No limit">--</span>
                  <% end %>
                </td>

              </tr>

              <tr>
                <td>Invoiced amount</td>
                <td>
                  <%
                    total_invoiced_amount = @patient_case.invoices.sum(&:amount).round(2)
                  %>

                  <%= format_money total_invoiced_amount %>
                  <span> / </span>
                  <% if @patient_case.invoice_total.present? %>
                    <%= format_money @patient_case.invoice_total %>
                  <% else %>
                    <span class="text-muted">--</span>
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>Case items</strong>
    </div>

    <div class="panel-body">
      <% if @case_associates.blank? %>
        <span class="text-muted">No items found</span>
      <% else %>
        <table class="table table-bordered mt-10">
          <thead>
            <tr>
              <th style="width: 450px">Item</th>
              <th>Created</th>
            </tr>
          </thead>
          <tbody>
            <% @case_associates.each do |associate| %>
            <% obj = associate[:object] %>
            <tr>
              <td style="width: 300px">
                <% case obj %>
                <% when Invoice %>
                  Invoice: <a href="<%= associate[:link] %>"> <%= obj.invoice_number %> </a>
                <% when PatientAttachment %>
                  Attachment: <a href="<%= associate[:link] %>"><%= obj.attachment_file_name %> </a>
                <% when TreatmentNote %>
                  Treatment note: <a href="<%= associate[:link] %>"><%= obj.name %> </a>
                <% when Appointment %>
                  Appointment: <a href="<%= associate[:link] %>"><%= obj.start_time.strftime(t('date.common')) %> - <%= obj.appointment_type&.name %> </a>
                <% else %>
                <% end %>
              </td>
              <td><%= obj.created_at.strftime(t('datetime.common')) %></td>
            </tr>
            <% end %>
            <tr></tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>Statement</strong>
    </div>

    <div class="panel-body">
      <% if @patient_case.invoices.count > 0 %>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Invoice number</th>
                <th>Issue date</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <% @patient_case.invoices.each do |invoice| %>
              <tr>
                <td>
                  <a href="<%= invoice_path(invoice) %>"><%= invoice.invoice_number %></a>
                </td>
                <td><%= invoice.issue_date.strftime(t('date.common')) %></td>
                <td>
                  <%= format_money invoice.amount %>
                </td>
              </tr>
              <% end %>
              <tr>
                <td class="text-right" colspan="2" style="padding-right: 15px;">Total</td>
                <td>
                  <strong><%= format_money @patient_case.invoices.sum(&:amount) %></strong>
                </td>
              </tr>
            </tbody>
          </table>
      <% else %>
        <span class="text-muted">No invoices found</span>
      <% end %>
    </div>
  </div>

<% end %>
