<section class="box-header">
  <div class="row">
    <div class="col-xs-6">
      <h1>Manage courses</h1>
    </div>
    <div class="col-xs-6 text-right">
      <a class="btn sitebtn" href="<%= new_admin_course_path %>">
        <i class="fa fa-plus"></i> New Course
      </a>
    </div>
  </div>
</section>

<section class="breadcrumb">
  <ul>
    <li>
      <a href="<%= admin_settings_path %>"><i class="fa fa-cog"></i> Admin Settings</a>
    </li>
    <li>Courses</li>
  </ul>
</section>

<section class="search_box">
  <%= search_form_for @search_query, url: admin_courses_path, enforce_utf8: false, class: 'form-filter form-filter-patients' do |f| %>
  <div class="row">
    <div class="col-md-8 col-xs-7">
      <%= f.search_field :title_cont, class: 'form-control', placeholder: 'Enter title' %>
    </div>
    <div class="col-md-4 col-xs-5">
      <button type="submit" class="btn sitebtn"><i class="fa fa-search"></i>  Search</button>
    </div>
  </div>
  <% end %>
</section>

<section class="content">
  <div class="box-table">
    <table class="table-flat">
      <thead>
        <tr>
          <th style="width: 200px">Title</th>
          <th>Presenter</th>
          <th>Course duration</th>
          <th>CPD points</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <% @courses.each do |course| %>
          <tr>
            <td>
              <a href="<%= admin_course_path(course) %>"><%= course.title %></a>
            </td>
            <td><%= course.presenter_full_name %></td>
            <td><%= course.course_duration %></td>
            <td><%= course.cpd_points %></td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-success btn-sm btn-flat dropdown-toggle" data-toggle="dropdown">
                  Action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li>
                    <a href="<%= admin_course_path(course) %>">
                      <i class="fa fa-eye"></i> Show
                    </a>
                  </li>
                  <li>
                    <a href="<%= edit_admin_course_path(course) %>">
                      <i class="fa fa-pencil-square-o"></i> Edit
                    </a>
                  </li>
                  <li>
                    <a href="<%= admin_course_path(course) %>" data-method="DELETE"
                      data-confirm="Are you sure?">
                      <i class="fa fa-trash"></i> Delete
                    </a>
                  </li>
                </ul>
              </div>
            </td>

        <% end %>
      </tbody>
    </table>
    <div class="row">
      <div class="col-md-6 text-left">
        <%= page_entries_info @courses %>
      </div>
      <div class="col-md-6 text-right">
        <%= paginate @courses %>
      </div>
    </div>
  </div>
</section>
